<p class="govuk-body govuk-!-margin-top-6"><strong>Mrs Bloggs's tasks</strong></p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-!-margin-bottom-2"><a href="#">Read topic materials</a></p>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-6"><strong class="govuk-tag govuk-tag--green">Done</strong></p>

  </div>
</div>

<p class="govuk-body govuk-!-margin-bottom-3" "govuk-body govuk-!-margin-bottom-2" ><strong>Your tasks</strong></p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-!-margin-bottom-2"><a href="#">Read topic materials</a></p>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--green">Done</strong></p>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-!-margin-bottom-2"><a href="#">Read Mrs Bloggs's reflections</a></p>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--green">Done</strong></p>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-!-margin-bottom-2">Prepare observation</p>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--green">Done</strong></p>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-!-margin-bottom-2">Observe lesson</p>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--green">Done</strong></p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-!-margin-bottom-2"><a href="#">Write observation notes</a></p>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-2"><strong class="govuk-tag govuk-tag--green">Done</strong></p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-!-margin-bottom-6"><a href="#">Run feedback session</a></p>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-6"><strong class="govuk-tag govuk-tag--green">Done</strong></p>

  </div>
</div>
