
<p class="govuk-body govuk-!-margin-bottom-3" "govuk-body govuk-!-margin-bottom-2" ><strong>Mrs Teacher's tasks</strong></p>
<ul class="app-task-list__items">
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
        Read topic material
    </span>
    <strong class="govuk-tag govuk-tag--green">Done</strong>
  </li>
</ul>

<p class="govuk-body govuk-!-margin-bottom-3" "govuk-body govuk-!-margin-bottom-2" ><strong>Your tasks</strong></p>
<ul class="app-task-list__items">
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <a href="#" aria-describedby="eligibility-status">
        Read topic material
      </a>
    </span>
    <strong class="govuk-tag govuk-tag--green">Done</strong>
  </li>
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <a href="#" aria-describedby="eligibility-status">
        Read Mrs Teacher's reflections
      </a>
    </span>
    <strong class="govuk-tag govuk-tag--green">Done</strong>
  </li>
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <a href="#" aria-describedby="eligibility-status">
        Run feedback session
      </a>
    </span>
    <strong class="govuk-tag govuk-tag--green">Done</strong>
  </li>
</ul>
