<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <ul class="govuk-list">
      <li>Teacher to read self-study material</li>
      <li><a href="#">Session summary</a></li>
      <li><a href="#">ECT reflections</a></li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <ul class="govuk-list">
      <li>Mentor to observe teacher</li>
      <li><a href="#">Observation notes</a></li>

    </ul>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <ul class="govuk-list">
      <li>Mentor and teacher to meet</li>
      <li><a href="#">Meeting record</a></li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">To do</strong></p>

  </div>
</div>
