<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Abi to work through their self study material</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
          <td class="govuk-table__cell">Updated: 10/10/20</td>
          <td class="govuk-table__cell">Abi to update</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Has Abi had their hour of mentor time this week?</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey style">To do</strong></td>
          <td class="govuk-table__cell">Updated: N/A</td>
          <td class="govuk-table__cell"><a href="#">Update progress</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Has Abi achieved her goal set for this week?</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
          <td class="govuk-table__cell">Updated: N/A</td>
          <td class="govuk-table__cell"><a href="#">Update progress</a></td>
        </tr>
      </tbody>
    </table>

  </div>
  </div>
