{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="/dev/ucl/home" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h1 class="govuk-heading-xl">Mentoring early career teachers</h1>

    <p>Early career teachers (ECTs) now do a 2-year induction including a programme of coaching and mentoring based on
      the <a class="govuk-link" href="https://www.gov.uk/government/publications/early-career-framework">early career
        framework</a>.</p>

    <p>You’ll pay a really important part in this, helping support early career teachers develop the skills they need to
      thrive.</p>

    <p>The programme your school’s early career teachers are doing has been developed by the University College London Early Career Teacher Consortium. </p>

    <p>They have worked with teachers, school leaders, education experts and the Department for Education to create online resources for mentors to use. These include training materials and meeting planning tools you can access from your account
      homepage.</p>


    <h2 class="govuk-heading-l">How the programme works</h2>

    <h3 class="govuk-heading-m">Modules aligned to the teachers’ standards</h3>

    <p>The training is built around 9 modules covering themes closely related to the <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/665520/Teachers__Standards.pdf">teachers’
        standards.</a> </p>

    <p>There are 6 modules in the first year and 3 in the second.</p>

    <p>The modules have each been designed to take around half a term to complete.</p>

    <p>We recommend ECTs follow the order we’ve set the modules in where possible, but they can adapt the sequence where necessary to support their development needs.</p>


    <h3 class="govuk-heading-m">Help ECTs put what they’ve learnt into practice</h3>

    <p>The modules are broken down into topics that are ideally covered on a week by week basis during term time.

    <p>During a typical week in the first year:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        the ECT will do online self-study activities lasting up to an hour to learn about the topic
      </li>
      <li>
        you and the ECT will catch up to reflect on what they’ve learnt, discuss any issues or concerns, and decide what actions to take going forward. Materials to help you prepare for these meetings are available from your account homepage
      </li>
    </ul>

    <p>The second year’s 3 modules help ECTs carry out detailed investigations into specific aspects of their teaching they want to improve. This professional development model, known as practitioner inquiry, will help the ECT: </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        reflect on their strengths and weaknesses
      </li>
      <li>
        choose the right areas to focus on for improvement
      </li>
      <li>
        identify and carry out development strategies
      </li>
      <li>analyse and evaluate their progress</li>
    </ul>

    <p>We encourage ECTs to keep reflections and feedback throughout the programme, not only so they can refer back to them, but also to use as evidence to inform their progress reviews and formal assessments.</p>

    <h2 class="govuk-heading-l">Mentor responsibilities</h2>

    <p>A mentor is expected to support early career teachers to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        to ensure their wellbeing and their capacity to manage workload and maintain a work-life balance. You should take prompt, appropriate action if the ECT appears to be having any difficulties
      </li>
      <li>
        develop their values and beliefs
      </li>
      <li>
        model an ongoing commitment to question, reflect upon and develop practice in collaboration with colleagues
      </li>
      <li>
        by giving them phase or subject-specific coaching</li>

    </ul>


    <a href="/dev/ucl/home" class="govuk-button govuk-!-margin-top-3">Back to homepage</a>

  </div>
</div>

{% endblock %}
