{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ucl/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ucl/module-list">Your mentor materials</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <br>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Autumn first half term - enabling pupil learning</h1>


        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 1 - Module audit</h3>
        <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        View which teachers' standards this topic relates to
        </span>
        </summary>
        <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
        <li>standard 1 - setting high expectations</li>
        <li>standard 7 - managing behaviour</li>
        </ul>

        </div>
        </details>
    <p>During the first week of the module, you and your mentee will take a look at the topics being covered, establish their level of confidence and agree areas to focus on.</p>

<ul class="govuk-list">
    <li>
      <a class="govuk-link" href="#">Materials for you to use during your ECT catch-up</a>
    </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 2 - Understanding teachers as role models</h3>
        <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View which teachers' standards this topic relates to
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>standard 1 - setting high expectations</li>
      <li>standard 7 - managing behaviour</li>
    </ul>

  </div>
</details>

    <p>This week features a self-study element for the NQT followed by a meeting with the mentor to discuss the topic and how it can be applied in the classroom.</p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/dev/ucl/selfstudy-wk2-pt1">View the teacher’s self-study materials </a>
      </li>
      <li>
        <a class="govuk-link" href="#">Materials for you to use during your ECT catch-up</a>
      </li>

    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 3 - Establishing the learning environment</h3>
        <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View which teachers' standards this topic relates to
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>standard 1 - setting high expectations</li>
      <li>standard 7 - managing behaviour</li>
    </ul>

  </div>
</details>

    <p>This week features a self-study element for the NQT followed by a meeting with the mentor to discuss the topic and how it can be applied in the classroom.</p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials </a>
      </li>
      <li>
        <a class="govuk-link" href="#">Materials for you to use during your ECT catch-up</a>
      </li>

    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 4 - Supporting the most vulnerable pupils</h3>
        <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        View which teachers' standards this topic relates to
        </span>
        </summary>
        <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
        <li>standard 1 - setting high expectations</li>
        <li>standard 7 - managing behaviour</li>
        </ul>

        </div>
        </details>


    <p>The NQT doesn’t have any self-study materials this week, but there will be a meeting with their mentor to discuss this topic.</p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Materials for you to use during your ECT catch-up</a>
      </li>

    </ul>



    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 5 - Understanding pupils as learners</h3>
        <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        View which teachers' standards this topic relates to
        </span>
        </summary>
        <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">

        <li>standard 7 - managing behaviour</li>
        </ul>

        </div>
        </details>


    <p>This week features a self-study element for the NQT followed by a meeting with the mentor to discuss the topic and how it can be applied in the classroom.</p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials </a>
      </li>
      <li>
        <a class="govuk-link" href="#">Materials for you to use during your ECT catch-up</a>
      </li>

    </ul>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 6 - Managing behaviour</h3>
        <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View which teachers' standards this topic relates to
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>standard 7 - managing behaviour</li>
    </ul>

  </div>
</details>
    <p>This week features a self-study element for the NQT followed by a meeting with the mentor to discuss the topic and how it can be applied in the classroom.</p>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials </a>
      </li>
      <li>
        <a class="govuk-link" href="#">Materials for you to use during your ECT catch-up</a>
      </li>

    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 7 - Exploring yourself as a role model</h3>
        <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View which teachers' standards this topic relates to
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>standard 1 - setting high expectations</li>
    </ul>

  </div>
</details>

    <p>The NQT doesn’t have any self-study materials this week, but there will be a meeting with their mentor to discuss this topic. The mentor should also do a brief (5 to 10 minutes) informal lesson observation.</p>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Materials for you to use during your ECT catch-up</a>
      </li>

    </ul>

  </div>



</div>

{% endblock %}
standard
