{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ucl/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ucl/module-list">Your module materials</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <br>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">First half term - enabling pupil learning</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 1 - Module audit</h3>
        <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
      </div>
    </div>
    <p>During the first week of the module, you and your mentee will take a look at the topics being covered, establish their level of confidence and agree areas to focus on.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 2 - Understanding teachers as role models</h3>
          <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
      </div>
    </div>
    <p>This week features a self-study element for the NQT followed by a meeting with the mentor to discuss the topic and how it can be applied in the classroom.</p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Review what the teacher is learning </a>
      </li>

    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 3 - Establishing the learning environment</h3>
        <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
      </div>
    </div>

    <p>This week features a self-study element for the NQT followed by a meeting with the mentor to discuss the topic and how it can be applied in the classroom.</p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Review what the teacher is learning </a>
      </li>

    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 4 - Supporting the most vulnerable pupils</h3>
        <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
      </div>
    </div>

    <p>The NQT doesn’t have any self-study materials this week, but there will be a meeting with their mentor to discuss this topic.</p>



    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 5 - Understanding pupils as learners</h3>
        <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
      </div>
    </div>

    <p>This week features a self-study element for the NQT followed by a meeting with the mentor to discuss the topic and how it can be applied in the classroom.</p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Review what the teacher is learning </a>
      </li>

    </ul>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 6 - Managing behaviour</h3>
        <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
      </div>
    </div>
    <p>This week features a self-study element for the NQT followed by a meeting with the mentor to discuss the topic and how it can be applied in the classroom.</p>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Review what the teacher is learning </a>
      </li>

    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 7 - Exploring yourself as a role model</h3>
        <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
      </div>
    </div>
    <p>The NQT doesn’t have any self-study materials this week, but there will be a meeting with their mentor to discuss this topic. The mentor should also do a brief (5 to 10 minutes) informal lesson observation.</p>



  </div>



</div>

{% endblock %}
