
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ucl/home">Home</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Your mentor materials</h1>

  <br>

  {% include "includes/years.html" %}


    <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Autumn term</h2>

        <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="/dev/ucl/meetings-and-interactions">First half-term: enabling pupil learning</a></h3>
        <p>In this module your teacher will focus on how to set up the classroom as a learning environment. They'll be able to reflect on the different ways they can influence your environment, and learn practical strategies that keep pupils safe, motivated and focused on learning.</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: engaging pupils in learning</a></h3>
  <p>In this module your teacher will look at the impact of pupils’ prior knowledge on their learning and how knowledge changes through the cooperation of working and long-term memory. </p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Spring term</h2>

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: developing quality pedagogy (part 1)</a></h3>
  <p>In this module your teacher will extend their knowledge of effective modelling that enables pupils to tackle difficult concepts.</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: developing quality pedagogy (part 2)</a></h3>
  <p>In this module your teacher will extend their knowledge of effective modelling that enables pupils to tackle difficult concepts.</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Summer term</h2>

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: making productive use of assessment</a></h3>
  <p>In this module your teacher will build on their existing knowledge of assessment principles.</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#"><strong>Second half-term: making productive use of assessment</strong></a></h3>
  <p>In this module your teacher will consider what it means to be professional, and approaches to managing your professional development. </p>
</div>
</div>










{% endblock %}
