{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/your-teachers">Your teachers</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h1 class="govuk-heading-xl">Abi's progress</h1>

    <h2 class="govuk-heading-l">Year 1</h2>

    <h3 class="govuk-heading-m">Autumn term</h3>

    <ul class="app-task-list__items" style="padding-left: 0">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="/it3/abi-week">First half-term: enabling pupil learning</a>
        </span>
        <strong class="govuk-tag govuk-tag--yellow" style="float: right">In progress</strong>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#">Second half-term: engaging pupils in learning</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey" style="float: right">To do</strong>
      </li>
    </ul>

    <h3 class="govuk-heading-m">Spring term</h3>

    <ul class="app-task-list__items" style="padding-left: 0">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#">First half-term: developing quality pedagogy (part 1)</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey" style="float: right">to do</strong>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#">Second half-term: developing quality pedagogy (part 2)</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey" style="float: right">To do</strong>
      </li>
    </ul>

    <h3 class="govuk-heading-m">Summer term</h3>

    <ul class="app-task-list__items" style="padding-left: 0">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#">First half-term: developing quality pedagogy (part 3)</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey" style="float: right">to do</strong>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#">Second half-term: making productive use of assessment</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey" style="float: right">To do</strong>
      </li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-margin-top-9">Year 2</h2>

    <h3 class="govuk-heading-m">Autumn term</h3>

    <ul class="app-task-list__items" style="padding-left: 0">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#">First half-term: enquiry into enabling pupil learning</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey" style="float: right">Start next year</strong>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#">Second half-term: enquiry into engaging pupils in learning</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey" style="float: right">Start next year</strong>
      </li>
    </ul>

    <h3 class="govuk-heading-m">Spring term</h3>

    <ul class="app-task-list__items" style="padding-left: 0">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#">First half-term: enquiry into developing quality pedagogy and making productive use of assessment (part 1)</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey" style="float: right">Start next year</strong>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#">Second half-term: enquiry into developing quality pedagogy and making productive use of assessment (part 2)</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey" style="float: right">Start next year</strong>
      </li>
    </ul>

    <h3 class="govuk-heading-m">Summer term</h3>

    <ul class="app-task-list__items" style="padding-left: 0">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#">First half-term: enquiry into developing quality pedagogy and making productive use of assessment (part 3)</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey" style="float: right">Start next year</strong>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#">Second half-term: fulfilling professional responsibilities</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey" style="float: right">Start next year</strong>
      </li>
    </ul>


  </div>
</div>

{% endblock %}
