
{% extends "layout-signin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-xl govuk-!-margin-top-9">Your role as a mentor</h1>

<p>Early career teachers now do a 2-year induction including a programme of coaching and mentoring based on the early career framework.</p>

<p>You’ll pay a really important part in this, helping support early career teachers develop the skills they need to thrive.</p>

<p>The programme has been produced by experienced teachers, school leaders, education experts and the Department for Education. It’s broken down into weekly topics aligned to the teachers’ standards.</p>

<p>Each topic offers teachers theory and practical classroom techniques that cover the early career framework and are aligned to the teachers’ standards.</p>

<p>This service gives you access to handy overviews of all the weekly topics.</p>

<p>You’ll also be able to check the progress of teachers you’re mentoring.</p>

<h2 class="govuk-heading-l">Your responsibilities</h2>

<p>A mentor should support early career teachers to: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    integrate theory and practice so they can demonstrate they are meeting the teachers’ standards
  </li>
  <li>
ensure their well-being and their capacity to manage workload and maintain a work-life balance
</li>
<li>develop their values and beliefs
</li>
<li>model an ongoing commitment to question, reflect upon and develop practice in collaboration with colleague</li>
</ul>

<p>You can do this by:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    getting to know the study materials so you can get an idea of what your teachers will be learning
  </li>
  <li>
having regular meetings with your mentees to discuss issues and set goals
</li>
<li>doing regular 10 to 15 minute lesson observations to see them putting what they’ve learnt into practice
</li>
</ul>

<br>

<a href="/it3/home" class="govuk-button">Continue to homepage</a>

</div>
</div>

{% endblock %}
