{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="/it4/home" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h1 class="govuk-heading-xl">Your role as a mentor</h1>

    <p>Early career teachers (ECTs) now do a 2-year induction including a programme of coaching and mentoring based on
      the <a class="govuk-link" href="https://www.gov.uk/government/publications/early-career-framework">early career
        framework</a>.</p>

    <p>You’ll pay a really important part in this, helping support early career teachers develop the skills they need to
      thrive.</p>

    <p>The programme has been produced by experienced teachers, school leaders, education experts and the Department for
      Education. It’s broken down into weekly topics aligned to the teachers’ standards.</p>

    <p>Each topic offers teachers theory and practical classroom techniques that cover the early career framework and
      are aligned to the <a class="govuk-link"
        href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/665520/Teachers__Standards.pdf">teachers’
        standards</a>.</p>

    <p>We recommend you follow the order we’ve set them in where possible, but we’ve designed it to be flexible so you
      can switch things around if needed.</p>

    <h2 class="govuk-heading-l">Your responsibilitie</h2>

    <p>A mentor should support early career teachers to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        integrate theory and practice so they can demonstrate they are meeting the teachers’ standards
      </li>
      <li>
        ensure their well-being and their capacity to manage workload and maintain a work-life balance
      </li>
      <li>
        develop their values and beliefs
      </li>
      <li>
        model an ongoing commitment to question, reflect upon and develop practice in collaboration with colleague
      </li>
    </ul>

    <p>You can do this by:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        getting to know the study materials so you can get an idea of what your teachers will be learning
      </li>
      <li>
        having regular meetings with your mentees to discuss issues and set goals
      </li>
      <li>
        spending 10 to 15 minutes each week seeing how they put what they’ve learnt into practice
      </li>
    </ul>
  </div>
</div>

{% endblock %}