
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it4/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it4/module-list">Your module materials</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <br>

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">First half term - enabling pupil learning</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m">Week 1 - Establishing effective routine</h3>
    </div>
    </div>
    <p>This topic will help teachers demonstrate they're meeting teachers'
    standards 4 (planning and teaching well structure lessons)</p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">What the teacher is learning</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Discussion guide for your weekly meeting</a>
      </li>

    </ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h3 class="govuk-heading-m">Week 2 - Understanding teachers as role models</h3>
</div>
  <div class="govuk-grid-column-one-quarter">
  </div>
</div>
<p>This topic will help teachers demonstrate they're meeting teachers'
standards 4 (planning and teaching well structure lessons)</p>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">What the teacher is learning </a>
  </li>
  <li>
    <a class="govuk-link" href="#">Discussion guide for your weekly meeting</a>
  </li>

</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h3 class="govuk-heading-m">Week 3 - Establishing the learning environment</h3>
</div>
</div>

<p>This topic will help teachers demonstrate they're meeting teachers'
standards 4 (planning and teaching well structure lessons)</p>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">What the teacher is learning </a>
  </li>
  <li>
    <a class="govuk-link" href="#">Discussion guide</a>
  </li>

</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h3 class="govuk-heading-m">Week 4 - Managing behaviour</h3>
</div>
</div

<p>This topic will help teachers demonstrate they're meeting teachers'
standards 4 (planning and teaching well structure lessons)</p>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/it4/selfstudy-wk4-pt1">What the teacher is learning </a>
  </li>
  <li>
    <a class="govuk-link" href="/it4/activities-wk4-pt1">Discussion guide for your weekly meeting</a>
  </li>

</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h3 class="govuk-heading-m">Week 5 - Exploring yourself as a role model/observation</h3>
</div>
</div>

<p>This topic will help teachers demonstrate they're meeting teachers'
standards 4 (planning and teaching well structure lessons)</p>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/it3/activities-wk5-pt1">Discussion guide for your weekly meeting</a>
  </li>

</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h3 class="govuk-heading-m">Week 6 - Holding high expectations and maintaining engagement</h3>
</div>
</div>
<p>This topic will help teachers demonstrate they're meeting teachers'
standards 4 (planning and teaching well structure lessons)</p>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">What the teacher is learning </a>
  </li>
  <li>
    <a class="govuk-link" href="#">Discussion guide for your weekly meeting</a>
  </li>

</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">





  </div>



  </div>

{% endblock %}
