{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/module-list">Your mentor materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/meetings-and-interactions">First half term - enabling pupil learning</a>
    </li>
  </ol>
</div>


<div class="govuk-grid-row">
  <br>

  <div class="govuk-grid-column-two-thirds-from-desktop">

    <br>
    <span class="govuk-caption-xl">What the teacher is learning</span>
    <h1 class="govuk-heading-xl">
      Week 4 - Managing behaviour
    </h1>

    <!-- Session Overview -->
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>

    <ul class="govuk-list">
      <li>
        – <a class="govuk-link" href="/it4/selfstudy-wk4-pt1">Learning intentions</a>
      </li>
      <li>
        – <span>Topic introduction</span>
      </li>
      <li>
        – <a class="govuk-link" href="/it4/selfstudy-wk4-pt3">Research and practice summary</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-l">
      Topic introduction
    </h2>

    <p>In their self-directed study session this week, your mentee revisited learning on how
to manage behaviour – this was first introduced in week 3 (Establishing the learning
environment). Your mentee wrote vignettes about (a) an event where they had
managed behaviour effectively and (b) a situation in which they found it tricky to
manage behaviour. By reflecting on these two events, your mentee was able to draft
a checklist to help them manage behaviour well in the future.</p>

<p>In this week’s ECT mentor meeting, you will work with your mentee to review their
vignettes and checklist. You will then agree on a focus for a developmental lesson
observation next week when you will observe your mentee with a focus on one or
more aspects of the Module 1 content. You will spend some time in your meeting
today helping your mentee to prepare for this observation.</p>



    <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
      <ul class="gem-c-pagination__list" data-module="track-click">
        <li class="gem-c-pagination__item gem-c-pagination__item--previous">
          <a href="/it4/selfstudy-wk4-pt1" class="gem-c-pagination__link" rel="next">
            <span class="gem-c-pagination__link-title">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="gem-c-pagination__link-text">
                Previous
              </span>
            </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Learning intentions</span>
          </a>
        </li>
        <li class="gem-c-pagination__item gem-c-pagination__item--next">
          <a href="/it4/selfstudy-wk4-pt3" class="gem-c-pagination__link" rel="next">
            <span class="gem-c-pagination__link-title">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
              <span class="gem-c-pagination__link-text">
                Next
              </span>
            </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Research and practice summary</span>
          </a>
        </li>
      </ul>
    </nav>



  </div>
</div>





{% endblock %}
