{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it4/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it4/module-list">Your mentor materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it4/meetings-and-interactions">First half term - enabling pupil learning</a>
    </li>
  </ol>
</div>


<div class="govuk-grid-row">
  <br>

  <div class="govuk-grid-column-two-thirds-from-desktop">

    <br>
    <span class="govuk-caption-xl">What the teacher is learning</span>
    <h1 class="govuk-heading-xl">
      Week 4 - Managing behaviour
    </h1>

    <!-- Session Overview -->

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>
    <ul class="govuk-list">
      <li>
        – <a class="govuk-link" href="/it4/selfstudy-wk4-pt1">Learning intentions</a>
      </li>
      <li>
        – <a class="govuk-link" href="/it4/selfstudy-wk4-pt2">Topic introduction</a>
      </li>
      <li>
        – <span>Research and practice summary</span>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Research and practice summary
    </h2>

    <div style="background-color:#F3F2F1; padding: 16px;">

      <h3 class="govuk-heading-m">
        Overcoming a difficult few weeks
      </h3>

      <p>James started in his new school in September. He is delighted with how effectively
        he has established his high expectations and how well pupils have responded to
        these.</p>
      <p>However, as the October half-term approaches, James is increasingly aware that
        some of his expectations are being challenged by pupils. His mentor reassures him
        that this is very common and that it matters how he responds – this is an important
        opportunity for James to reinforce and maintain the strong start that he has made.</p>
      <p><strong>What should James think about to reinforce and maintain the high
          expectations he has established?</strong></p>
    </div>

    <br>

    <p>You have already learnt about how to effectively establish your expectations. You
      saw how you can use the following four stages to establish and maintain routines
      and expectations for behaviour:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><strong>clarify – </strong> begin by clarifying exactly what the routine involves and why you are
        using it. For instance, the aim of the routine about handing out equipment
        quickly may be mainly about maximising time for learning safely</li>
      <li><strong>model – </strong>show pupils how to perform the routine and explain its purpose. It
        can help to show non-examples that represent common misinterpretations of
        the routine as part of this. For example, you can show how just one person in
        a pair should gather equipment in a science lesson, to minimise the number of
        people moving around the room</li>
      <li><strong>practice – </strong>scaffold opportunities for practice when first using the routine.
        Including an element of competition may be appropriate here. For example,
        challenging pupils to hand out books as quickly and quietly as possible at the
        start of the lesson</li>
      <li><strong>reinforce – </strong>regularly reinforce the routine by acknowledging when it is done
        well and providing reminders and further practice when it is not. This may be
        as simple as, ‘well done for settling down and beginning so quickly, Matthew –
        you’re already learning now’</li>
    </ul>

    <p>Using this approach will help you to demonstrate your high expectations of pupils.
      However, you are likely now reaching the stage where careful reinforcement of your
      expectations is needed. It is natural for pupils to test the boundaries of your
      expectations, so it is important to manage your response to this well.</p>

    <p>It can help to distinguish between situations where pupils are actively testing your
      boundaries and situations where pupils do not fully understand what you expect.
      Where pupils do not understand, re-modelling and practising are likely to be
      beneficial. In other situations, you will need to consider how you reinforce your
      expectations.</p>

    <br>

    <p>To continue to reinforce your high expectations, as explored in week 3 of this
      module, it can help to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><strong>be predictable – </strong>schools use sanctions and rewards in many different ways
        to reinforce desirable behaviours. The success of any system will be
        determined by its implementation, and predictability is a key part of this. For
        instance, sanctions that are only enforced sometimes will be less effective
        than those that always, predictably, follow a certain behaviour. Being
        predictable helps to reinforce your school’s high expectations of pupils</li>
      <li><strong>be aware </strong>awareness is important for preventing low-level disruption as well
        as for quickly managing bullying or other behaviours that threaten pupils’
        emotional safety. To maintain awareness, you should position yourself
        physically so that you can visually monitor the whole class even when
        speaking to an individual or small group and frequently ‘be seen looking’ so
        that pupils know you are aware of what they are doing</li>
      <li><strong>be responsive – </strong>– responding early to low-level disruption usually helps to shut
        it down quickly. ‘Least-intrusive’ approaches – i.e. those which limit disruption
        to learning, including non-verbal signals – can be appropriate at this stage,
        such as pausing abruptly, moving physically closer to disruptive students or
        looking at pupils to show that you know what they are doing and that it is not
        acceptable (the ‘teacher glare’)</li>
      <li><strong>review your expectations – </strong>ryou will have set your expectations with the best
        of intentions, but it may be appropriate to carefully review them if pupils are
        struggling to do as you wish. You should avoid lowering your expectations,
        but it may be helpful to alter routines to make these expectations more
        achievable</li>
    </ul>

    <p>Building effective, trusting relationships with pupils will help you to manage
      behaviour and create an environment that supports learning. This process will take
      longer to establish with some pupils than others and this is quite normal, especially if
      you are a secondary school teacher who sees individual pupils less frequently. It is
      easier to build these relationships when pupils believe that their feelings will be
      considered and understood – even though you are ‘in charge’ of your classroom, you
      are also modelling how to develop and maintain positive relationships, and taking
      account of others’ feelings is, of course, an important part of this. This does not
      mean that you always have to do as pupils wish, but that you can positively impact
      your relationship with pupils by acknowledging their feelings and being clear about
      the reasons for the decisions you take.</p>

    <p>Responding consistently to pupil behaviour is important for two reasons:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><strong> reinforcing expectations – </strong>f you only sometimes reinforce your
        expectations in how you use sanctions and rewards, then pupils quickly learn
        that your expectations are optional. Over time, you will likely find that pupils
        adhere less and less to your high behavioural expectations</li>
      <li><strong>fairness - </strong>– pupils have a strong sense of fairness, so, if they notice (or
        perceive) they are being treated differently than their peers, this can
        undermine your relationship with them. Therefore, it is important to ‘be fair’
        and to ‘be seen to be fair’. This can include, for example, using least-intrusive
        interventions (see week 3 of Module 1) so that pupils don’t feel that they are
        being singled out in front of their peers and linking your use of rewards and
        sanctions to the school behaviour policy. By being explicit like this, you make
        it clear to pupils why they are being sanctioned and others know what they
        need to do to achieve the rewards that their peers receive</li>
    </ul>

    <div style="background-color:#F3F2F1; padding: 16px;">

      <h3 class="govuk-heading-m">
        Setting pupils up to succeed: consistency and persistence
      </h3>

      <p>James was coming to dread his Friday afternoon lessons. It seemed that pupils
        could sense the weekend coming and were especially tricky to teach at this time. He
        felt that two pupils in particular consistently caused low-level disruption that affected
        everyone’s learning and were frequently off task. This upset James, as he had
        worked so hard to develop a positive, predictable and safe environment in which all
        pupils could thrive.</p>

      <p>James asked his mentor to come and observe the class so that she could help
        James plan how best to tackle the problems he was concerned about. </p>

      <p>The feedback from James’ mentor was surprisingly helpful. Not only did she offer
        some strategies for addressing the pupils’ low-level disruption, but she also
        highlighted the approaches that James had embedded that were supporting the
        majority of pupils to learn well – even on a Friday afternoon! </p>

      <p>James had taken the time in September to carefully clarify, model, practise and
        reinforce the behaviours he expected from pupils, and his mentor could see that this
        was already paying off. She praised the way that he reinforced positive behaviours
        from pupils and how he linked this to the school’s policy on sanctions and rewards.
        She highlighted to James that he was already doing lots of things well and could feel
        proud of this. </p>

      <p>James’s mentor also suggested some strategies to work on. She felt that the
        disruption worrying James was stemming from the two pupils not always
        understanding clearly what they needed to do. This helped James to see that the
        most effective behaviour management strategy in this situation was not to respond to
        the disruption once it had happened but to pre-empt it by making sure the pupils
        understood clearly what they should be doing.</p>

      <p>Based on this feedback, James set himself the following targets:</p>

      <ol class="govuk-list govuk-list--number">
        <li>target the two pupils with clarification questions when giving task instructions to make sure that they fully understand expectations from the outset</li>
        <li>. focus on using consistent language and non-verbal signals for common
          directions in the classroom so that he can more easily remind the pupils of his
          expectations while they are working. This includes a non-verbal ‘shhh’ gesture
          for when they get chatty, which James can use without distracting other pupils</li>
      </ol>

      <p>James’ situation is not unique – all teachers experience these kinds of
challenges from time to time, especially less experienced teachers. By
consistently and persistently applying the principles you have learnt in this
module, you will be able to address these challenges and support all pupils to
learn well in your class. Remember that you are not alone in this endeavour
and that you can expect assistance and support from colleagues, which can
often make all the difference.</p>





    </div>










    <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
      <ul class="gem-c-pagination__list" data-module="track-click">
        <li class="gem-c-pagination__item gem-c-pagination__item--previous">
          <a href="/it4/selfstudy-wk4-pt2" class="gem-c-pagination__link" rel="next">
            <span class="gem-c-pagination__link-title">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="gem-c-pagination__link-text">
                Previous
              </span>
            </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Topic introduction</span>
          </a>
        </li>
      </ul>
    </nav>



  </div>
</div>





{% endblock %}
