{% extends "layout-signin.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h1 class="govuk-heading-xl">Mentoring for early career teachers</h1>


      <p class="govuk-body">This service is for school staff who mentor early career teachers.

        Use this service to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>see what your teachers are learning on a week by week basis
</li>
  <li>plan progress meetings </li>
</ul>

<a href="/it4/sign-in" class="govuk-button">Start</a>

<h3 class="govuk-heading-m">Before you start</h3>

<p class="govuk-body">You will need the email address your school used when they created your account. This will probably be your work email.</p>
  </div>
</div>


{% endblock %}
