{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/home">Home</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h1 class="govuk-heading-xl">Your teachers</h1>

    <h3 class="govuk-heading-m">Abi</h3>
    <ul class="govuk-list">
      <li>
        Full name: Abisola Alba
      </li>
      <li>
        Cohort: Year 1/2021
      </li>
      <li>
        Self study start date: 10/10/21
      </li>
    </ul>
    <p><a href="/it3/abi">View Abi's progress</a></p>

    <br>

    <h3 class="govuk-heading-m">Ben</h3>
    <ul class="govuk-list">
      <li>
        Full name: Benjamin Bartholomew
      </li>
      <li>
        Cohort: Year 1/2021
      </li>
      <li>
        Self study start date: 20/09/21
      </li>
    </ul>
    <p><a href="#">View Benjamin's progress</a></p>

  </div>
</div>

{% endblock %}
