{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/home">Home</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">First half-term: enabling pupil learning</h1>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What do the self study status colours mean?
    </span>
  </summary>
  <div class="govuk-details__text">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-width-one-third"><strong class="govuk-tag govuk-tag--green style=float: left">complete</strong></td>
          <td class="govuk-table__cell">The teacher has completed the topic</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow style=float: left">In progress</strong></td>
          <td class="govuk-table__cell">The teacher has said they need more time on this topic</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey style=float: left"">To do</strong></td>
          <td class="govuk-table__cell">The teacher is either in the early stages of doing this topic or has not yet started it</td>
        </tr>
      </tbody>
    </table>
  </div>
</details>


    <h2 class="govuk-heading-l">Week 1: Title</h2>
    <p>This week's topic is aligned to teachers' standards 2 (promoting good progress and outcomes by pupils) and 6 (making and productive use of assessment)</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Abi to work through self study material</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">complete</strong></td>
          <td class="govuk-table__cell">Updated: 10/10/20</td>
          <td class="govuk-table__cell">Abi to update</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Has Abi had their hour of mentor time this week?</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">complete</strong></td>
          <td class="govuk-table__cell">Updated:10/10/20</td>
          <td class="govuk-table__cell"><a href="#">Update progress</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Has Abi achieved their goal set for this week?</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></td>
          <td class="govuk-table__cell">Updated:10/10/20</td>
          <td class="govuk-table__cell"><a href="#">Update progress</a></td>
        </tr>
      </tbody>
    </table>

    </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-top-4">Week 2: Title</h2>
        <p>This week will help Abi work towards teacher stand A, teacher standard B and teacher strandard E</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">



        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Abi to work through their self study material</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: 10/10/20</td>
              <td class="govuk-table__cell">Abi to update</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi had their hour of mentor time this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey style">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi achieved her goal set for this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
          </tbody>
        </table>

      </div>
      </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-top-4">Week 3: Title</h2>
            <p>This week will help Abi work towards teacher stand A, teacher standard B and teacher strandard E</p>
          </div>
        </div>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Abi to work through their self study material</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: 10/10/20</td>
              <td class="govuk-table__cell">Abi to update</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi had their hour of mentor time this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey style">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi achieved her goal set for this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
          </tbody>
        </table>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-top-4">Week 3: Title</h2>
            <p>This week will help Abi work towards teacher stand A, teacher standard B and teacher strandard E</p>
          </div>
        </div>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Abi to work through their self study material</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: 10/10/20</td>
              <td class="govuk-table__cell">Abi to update</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi had their hour of mentor time this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey style">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi achieved her goal set for this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
          </tbody>
        </table>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-top-4">Week 3: Title</h2>
            <p>This week will help Abi work towards teacher stand A, teacher standard B and teacher strandard E</p>
          </div>
        </div>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Abi to work through their self study material</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: 10/10/20</td>
              <td class="govuk-table__cell">Abi to update</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi had their hour of mentor time this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey style">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi achieved her goal set for this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
          </tbody>
        </table>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-top-4">Week 3: Title</h2>
            <p>This week will help Abi work towards teacher stand A, teacher standard B and teacher strandard E</p>
          </div>
        </div>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Abi to work through their self study material</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: 10/10/20</td>
              <td class="govuk-table__cell">Abi to update</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi had their hour of mentor time this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey style">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi achieved her goal set for this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
          </tbody>
        </table>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-top-4">Week 3: Title</h2>
            <p>This week will help Abi work towards teacher stand A, teacher standard B and teacher strandard E</p>
          </div>
        </div>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Abi to work through their self study material</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: 10/10/20</td>
              <td class="govuk-table__cell">Abi to update</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi had their hour of mentor time this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey style">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Has Abi achieved her goal set for this week?</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">To do</strong></td>
              <td class="govuk-table__cell">Updated: N/A</td>
              <td class="govuk-table__cell"><a href="#">Update progress</a></td>
            </tr>
          </tbody>
        </table>















  </div>
</div>

{% endblock %}
