{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/module-list">Your module materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/meetings-and-interactions">First half term - enabling pupil learning</a>
    </li>
  </ol>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <br>
    <h1 class="govuk-heading-xl">
      Week 5 - Exploring yourself as a role model/observation
    </h1>



    <!-- Session Overview -->
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>

    <ul class="govuk-list">
      <li>
        – <a class="govuk-link" href="/it3/activities-wk5-pt1">Review</a>
      </li>
      <li>
        – <span>Plan</span>
      </li>
      <li>
        – <a class="govuk-link" href="/it3/activities-wk5-pt3">Theory to practice</a>
      </li>
      <li>
        – <a class="govuk-link" href="/it3/activities-wk5-pt4">Next steps</a>
      </li>
    </ul>

    <h3 class="govuk-heading-m">
      Plan
    </h3>

    <p>Carry out a 20-minute observation of your mentee teaching, as agreed in last week’s
      ECT mentor meeting. </p>

    <div <div style="background-color:#F3F2F1; padding: 16px;">
      <p>To make the most of this observation you should:</p>
      <ol class="govuk-list govuk-list--number">

        <li>focus your observation on the Early Career Framework statements that
          you identified with your mentee when planning the observation and on
          the specific strategies that you co-planned for them to use in the lesson</li>
        <li>make notes that will support the discussions that follow (see below). This
          should include describing what was happening at key points in the
          lesson, the decisions that your mentee had to make in response to
          what was happening, actions your mentee took and how pupils
          responded</li>
        <li>make notes on strengths in your mentee’s practice as well as areas for
          further improvement</li>
      </ol>
    </div>
  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

    {{ govukInsetText({
    text: "Remember that this observation is separate from your school’s formal NQT induction
process and school performance management processes. It is recommended that
you do not use formal school paperwork for this observation to help make clear the
supportive and developmental nature of this activity."
  }) }}



    <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
      <ul class="gem-c-pagination__list" data-module="track-click">
        <li class="gem-c-pagination__item gem-c-pagination__item--previous">
          <a href="/it3/activities-wk5-pt1" class="gem-c-pagination__link" rel="next">
            <span class="gem-c-pagination__link-title">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="gem-c-pagination__link-text">
                Previous
              </span>
            </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Review</span>
          </a>
        </li>
        <li class="gem-c-pagination__item gem-c-pagination__item--next">
          <a href="/it3/activities-wk5-pt3" class="gem-c-pagination__link" rel="next">
            <span class="gem-c-pagination__link-title">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
              <span class="gem-c-pagination__link-text">
                Next
              </span>
            </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Theory into practice</span>
          </a>
        </li>
      </ul>
    </nav>



  </div>
</div>





{% endblock %}
