
{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/teacher">Joe Bloggs</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/meetings-and-interactions">Materials for your weekly meeting </a>
    </li>
  </ol>
</div>



<div class="govuk-grid-row">
  <br>

  <div class="govuk-grid-column-two-thirds-from-desktop">

<br>
<h1 class="govuk-heading-xl">
    Week 4 - Managing behaviour
</h1>

      <!-- Session Overview -->
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>

      <ul class="govuk-list">
      <li>
        – <span>Review (5 minutes)</span>
      </li>
      <li>
        – <a class="govuk-link" href="/it3/activities-wk4-pt2">Plan (10 minutes)</a>
      </li>
      <li>
        – <a class="govuk-link" href="/it3/activities-wk4-pt3">Theory to practice (35 minutes)</a>
      </li>
      <li>
        – <a class="govuk-link" href="/it3/activities-wk4-pt4">Next steps (5 minutes)</a>
      </li>
      </ul>

      <h3 class="govuk-heading-m">
        Review (5 minutes)
      </h3>

      {% include "includes/paragraph.html" %}






      <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="track-click">
      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href="/it3/activities-wk4-pt2" class="gem-c-pagination__link" rel="next">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Plan (10 minutes)</span>
        </a>
      </li>
  </ul>
</nav>



      </div>
      </div>





{% endblock %}
