
{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/module-list">Your mentor materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/it3/meetings-and-interactions">First half term - enabling pupil learning</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <br>

  <div class="govuk-grid-column-two-thirds-from-desktop">

<br>
<h1 class="govuk-heading-xl">
    Week 2 - Understanding teachers as role models
</h1>

<h3 class="govuk-heading-l">
  Introduction
</h3>
<p>In their first self-study session of this module, your mentee considered how they can
be a role model to their pupils. They also learnt about the importance of setting clear
expectations, and about how to embed routines to support an effective learning
environment. They have spent some time exploring the culture and values of your
school and observed a colleague beginning their lesson. They then drafted a script
for an entry routine to their classroom – you will work on this together during this ECT
mentor meeting. </p>

      <!-- Session Overview -->

<h3 class="govuk-heading-l">The teacher will learn that:</h3>

    <table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">

      <td class="govuk-table__cell govuk-!-width-full">Teachers have the ability to affect and improve the wellbeing, motivation and
behaviour of their pupils.</td>
    </tr>
    <tr class="govuk-table__row">


      <td class="govuk-table__cell govuk-!-width-full">Teachers are key role models, who can influence the attitudes, values and
behaviours of their pupils.</td>
    </tr>
    <tr class="govuk-table__row">

      <td class="govuk-table__cell govuk-!-width-full">Teacher expectations can affect pupil outcomes; setting goals that challenge
and stretch pupils is essential.</td>
    </tr>
    <tr class="govuk-table__row">

      <td class="govuk-table__cell govuk-!-width-full">Setting clear expectations can help communicate shared values that improve
classroom and school culture.</td>
    </tr>
    <tr class="govuk-table__row">

      <td class="govuk-table__cell govuk-!-width-full">A culture of mutual trust and respect supports effective relationships.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-full">Establishing and reinforcing routines, including through positive reinforcement,
can help create an effective learning environment.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-full">A predictable and secure environment benefits all pupils, but is particularly
valuable for pupils with special educational needs. </td>
    </tr>
  </tbody>
</table>

<h3 class="govuk-heading-l">The teacher will learn how to:</h3>

<p><strong>Demonstrate consistently high behavioural expectations, by:</strong></p>

    <table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-full">Creating a culture of respect and trust in the classroom that supports all pupils
to succeed (e.g. by modelling the types of courteous behaviour expected of
pupils).</td>
    </tr>
  </tbody>
</table>

<p><strong>Establish effective routines and expectations, by:</strong></p>

    <table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-full">Creating and explicitly teaching routines in line with the school ethos that
maximise time for learning (e.g. setting and reinforcing expectations about key
transition points)</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-full">Practising routines at the beginning of the school year.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-full">Reinforcing routines (e.g. by articulating the link between time on task and
success).</td>
    </tr>
  </tbody>
</table>





      </div>
      </div>





{% endblock %}
