
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/iteration-2/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/iteration-2/teacher">Joe Bloggs</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <br>

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">First half term - How can you create an effective learning environment?</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body"><strong>  Week 1 - Establishing effective routine</strong></p>
        <p>some blurb</p>
    </div>
    </div>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Topic overview</a>
      </li>
      <li>
        <a class="govuk-link" href="#">What the ECT is learning</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Discussion guide</a>
      </li>

    </ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body"><strong>Week 2 - Understanding teachers as role models</strong></p>
    <p>some blurb</p>
</div>
  <div class="govuk-grid-column-one-quarter">
  </div>
</div>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/it3/learnings">Topic overview</a>
  </li>
  <li>
    <a class="govuk-link" href="#">What the teacher is learning </a>
  </li>
  <li>
    <a class="govuk-link" href="/it3/activities-wk2-pt1">Discussion guide</a>
  </li>

</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body"><strong>Week 3 - Creating a positive and respectful classroom environment</strong></p>
</div>
</div>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Topic overview</a>
  </li>
  <li>
    <a class="govuk-link" href="#">What the teacher is learning </a>
  </li>
  <li>
    <a class="govuk-link" href="#">Discussion guide</a>
  </li>

</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body"><strong>Week 4 - Managing behaviour</strong></p>
</div>
</div>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Topic overview</a>
  </li>
  <li>
    <a class="govuk-link" href="#">What the teacher is learning </a>
  </li>
  <li>
    <a class="govuk-link" href="/it3/activities-wk4-pt1">Discussion guide</a>
  </li>

</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body"><strong>Week 5 - Developing pupils’ intrinsic motivation</strong></p>
</div>
</div>

<p>This week we recommend you observe your mentee</p>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Topic overview</a>
  </li>
  <li>
    <a class="govuk-link" href="#">What the teacher is learning </a>
  </li>
  <li>
    <a class="govuk-link" href="#">Discussion guide</a>
  </li>

</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body"><strong>Week 6 - Holding high expectations and maintaining engagement</strong></p>
</div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-font-size-16"><a href="#">Mark week as complete</a></p>
  </div>
</div>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Topic overview</a>
  </li>
  <li>
    <a class="govuk-link" href="#">What the teacher is learning </a>
  </li>
  <li>
    <a class="govuk-link" href="#">Discussion guide</a>
  </li>

</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">





  </div>



  </div>

{% endblock %}
