{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="/it3/abi-week" class="govuk-back-link">Back</a>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form class="form" action="/it3/mentor-time-answer" method="post">

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Has Abi had her hour of mentor time for this week?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="meeting-done" name="meeting-done" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="mentor-time">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="meeting-done-2" name="meeting-done" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="meeting-done-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>

      <button class="govuk-button" data-module="govuk-button">Save</button>

    </form>

  </div>
</div>





{% endblock %}
