
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/home">Home</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Your module materials</h1>

  <br>

    <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Autumn term</h2>

        <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="/it3/meetings-and-interactions">First half-term: enabling pupil learning</a></h3>
        <p>In this module you'll focus on how you set up your classroom as a learning environment. You'll be able to reflect on the different ways you can influence your environment, and learn practical strategies that keep pupils safe, motivated and focused on learning.</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: engaging pupils in learning</a></h3>
  <p>In this module you'll look at the impact of pupils’ prior knowledge on their learning and how knowledge changes through the cooperation of working and long-term memory. </p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Spring term</h2>

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: developing quality pedagogy (part 1)</a></h3>
  <p>In this module you'll extend your knowledge of effective modelling that enables pupils to tackle difficult concepts.</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">Second half-term: developing quality pedagogy (part 2)</a></h3>
  <p>In this module you'll extend your knowledge of effective modelling that enables pupils to tackle difficult concepts.</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Summer term</h2>

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: developing quality pedagogy (part 3)</a></h3>
  <p>In this module you'll extend your knowledge of effective modelling that enables pupils to tackle difficult concepts.</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#"><strong>Second half-term: making productive use of assessment</strong></a>
  <p>In this module you'll build on your existing knowledge of assessment principles.</p>
</div>
</div>










{% endblock %}
