{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/home">Home</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h1 class="govuk-heading-xl">Mentoring early career teachers</h1>

    <p>Early career teachers (ECTs) now do a 2-year induction including a programme of coaching and mentoring based on
      the <a class="govuk-link" href="https://www.gov.uk/government/publications/early-career-framework">early career
        framework</a>.</p>

    <p>You’ll pay a really important part in this, helping support early career teachers develop the skills they need to
      thrive.</p>

    <p>The programme your school’s early career teachers are doing has been developed by the teaching support charity Ambition Institute. </p>

    <p>They have worked with teachers, school leaders, education experts and the Department for Education to create online resources for mentors to use. These include training materials and meeting planning tools you can access from your account
      homepage.
    </p>


    <h2 class="govuk-heading-l">How the programme works</h2>


    <h3 class="govuk-heading-m">Instructional coaching</h3>

    <p>This programme uses instructional coaching methods to help you develop your teacher’s skills and knowledge. </p>

    <p>Instructional coaching involves giving regular one-to-one feedback and enables ECTs to practice newly developed skills with you before they try them in the classroom. </p>

    <p>Materials to help you prepare for feedback meetings are available from your account homepage.</p>


    <h3 class="govuk-heading-m">Modules aligned to the teachers’ standards</h3>

    <p>The programme is built around 3 modules covering themes closely related to the <a class="govuk-link"
        href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/665520/Teachers__Standards.pdf">teachers’
        standards.</a> </p>

    <p>Each module should take a term to complete in the first year. The second year offers ECTs the chance to focus on developing their skills in specific areas within the 3 modules. It also gives them the opportunity to catch up on anything they
      might have missed in the first year. </p>

    <p>We recommend ECTs follow the order we’ve set the modules in where possible, but they can switch things around if they need some flexibility.</p>


    <h3 class="govuk-heading-m">Help ECTs put what they’ve learnt into practice</h3>

    <p>The modules are broken down into topics that are ideally covered on a week by week basis during term time. We suggest that each week:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        the ECT spends around 40 minutes doing online self-study activities to learn about the topic. You can access all the materials the ECTs use to become familiar with them too
      </li>
      <li>
        you and the ECT catch up to reflect on what they’ve learnt, discuss any issues or concerns, and decide what actions to take going forward
      </li>
      <li>
        you briefly watch the ECT teach to see them putting that week’s development focus into action in the classroom. These sessions would be in addition to extended observations that typically take place once or twice a term
      </li>
    </ul>

    <p>We encourage ECTs to keep reflections and feedback throughout the programme, not only so they can refer back to them, but also to use as evidence to inform their progress reviews and formal assessments.</p>

    <h2 class="govuk-heading-l">Mentor responsibilities</h2>

    <p>A mentor is expected to support early career teachers:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        to ensure their wellbeing and their capacity to manage workload and maintain a work-life balance. You should take prompt, appropriate action if the ECT appears to be having any difficulties
      </li>
      <li>
        develop their values and beliefs
      </li>
      <li>
        model an ongoing commitment to question, reflect upon and develop practice in collaboration with colleagues
      </li>
      <li>
        by giving them phase or subject-specific coaching</li>

    </ul>

    <a href="/dev/ambition/module-list" class="govuk-button govuk-!-margin-top-3">Go to your materials</a>


  </div>
</div>

{% endblock %}
