{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/module-list">Your mentor materials</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <br>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Autumn term: behaviour</h1>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 1: strand fundamentals and contracting</h3>
    <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/dev/ambition/selfstudy-wk1-pt1">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="/dev/ambition/mentor-wk1">Mentor material</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 2: routines</h3>
    <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/dev/ambition/selfstudy-wk2-pt1">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="/dev/ambition/mentor-wk2-pt1">Mentor material</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 3: instructions</h3>
    <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Mentor material</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 4: directing attention</h3>
    <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Mentor material</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 5: low-level disruption</h3>
    <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Mentor material</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 6: consistency</h3>
    <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Mentor material</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 7: positive learning environment</h3>
    <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Mentor material</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 8: structured support of learning</h3>
    <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Mentor material</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 9: challenge</h3>
    <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Mentor material</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 10: independent practice</h3>
    <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Mentor material</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 11: pairs and groups</h3>
    <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Mentor material</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 12: upholding high expectations</h3>
    <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Mentor material</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



{% endblock %}
