{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/module-list">Your mentor materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/meetings-and-interactions">Autumn term:behaviour</a>
    </li>
  </ol>
</div>



<div class="govuk-grid-row">
  <br>

  <div class="govuk-grid-column-two-thirds-from-desktop">

    <br>
    <span class="govuk-caption-xl">The teacher's self-study materials</span>
    <h1 class="govuk-heading-xl">
      Week 2: Routines
    </h1>

    <!-- Session Overview -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Before you observe
    </h2>

    <p>1. Select a <a href="#">development area</a>to focus on</p>

    <p>2. Familiarise youself with the focused development area</p>

    <h2 class="govuk-heading-l">
      During the observation
    </h2>

    <p>1. Consider the following questions based on a short (approximately 15 minute) observation of your teacher:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>What was your teacher’s <strong>previous target</strong>? Are they meeting it? How do you know?</li>
      <li>For the <strong>development area</strong> you are focussing on for this observation, what is your teacher already doing well?</li>
      </ul>

<p>2. Next, select a <a href="#">FOCUSED DEVELOPMENT AREA</a> to further zoom in on. Then select
<a href="#">(from the examples)</a>or write one PRECISE TARGET (bite-sized action) to coach your teacher on. You can choose to
stick with the previous target if your teacher have not made enough progress yet</p>

<p>How will you model the target to your teacher to show them what good looks like?</p>

<p>What questions will you ask to check your teacher understands the model? For example, ‘How it is different from your current
practice?’, ‘What impact might it have on your practice and pupils?’, ‘What links can you see between the model
and the module principles (below)?’</p>

  <p>Reminder: Your model should help your teacher develop their ability in some of the following:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Explicitly teach routines and behavioural expectations.</li>
    <li>Model routines and behavioural expectations.</li>
    <li>Practise routines with their pupils.</li>
    <li>Give manageable, specific and sequential instructions.</li>
    <li>Use consistent language and non-verbal signals for common classroom directions.</li>
    <li>Create a positive and motivating climate in the classroom. </li>
    </ul>

    <h2 class="govuk-heading-l">
      After the observation
    </h2>

    <p>Next, meet with your teacher to work through the ‘Feedback’ stage of instructional coaching. See the guidance on the
feedback stage in the appendices of the Mentor Handbook for support.</p>

<h2 class="govuk-heading-l">
  Development areas and focused development areas
</h2>




<h3 class="govuk-heading-m">
  Development area 1: Entry routine
</h3>

<p><strong>Focused development area</strong></p>

<ul class="govuk-list govuk-list--bullet">
  <li>Teacher greets pupils as they enter the classroom.</li>
  <li>Teacher ensures pupils know what to do as they
  enter the classroom.</li>
  <li>Teacher manages the flow of pupils into the
  classroom and restates the instructions so pupils
  are clear what they need to do.</li>
  <li>Teacher ensures pupils know they are
  accountable for following instructions as they
  enter the classroom.</li>
  <li>Teacher diagnoses pupils’ emotions as they enter
  the room and responds appropriately, e.g. by
  privately addressing a pupil if necessary.</li>
</ul>

<br>

<h3 class="govuk-heading-m">
  Development area 2: Starter activity
</h3>

<p><strong>Focused development area</strong></p>

<ul class="govuk-list govuk-list--bullet">
  <li>Teacher ensures pupils know what to do when
they start the activity</li>
  <li>Teacher ensures that pupils know they are
accountable for doing the activity. </li>
  <li>Teacher ensures that pupils are able to do the
task independently.</li>
  <li>Teacher ensures that the starter activity is aligned
to previously taught content.</li>
</ul>


<h3 class="govuk-heading-m">
  Development area 3: Practicising activity
</h3>

<p><strong>Focused development area</strong></p>

<ul class="govuk-list govuk-list--bullet">
  <li>Teacher ensures pupils know what to do when
they start the activity</li>
  <li>Teacher ensures that pupils know they are
accountable for doing the activity. </li>
  <li>Teacher ensures that pupils are able to do the
task independently.</li>
  <li>Teacher ensures that the starter activity is aligned
to previously taught content.</li>
</ul>











    {% endblock %}
