{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/module-list">Your mentor materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/meetings-and-interactions">Autumn term:behaviour</a>
    </li>
  </ol>
</div>



<div class="govuk-grid-row">
  <br>

  <div class="govuk-grid-column-two-thirds-from-desktop">

    <br>
    <span class="govuk-caption-xl">Materials for you to use during your ECT catch-up</span>
    <h1 class="govuk-heading-xl">
      Week 3: instructions
    </h1>

    <!-- Session Overview -->


    <h2 class="govuk-heading-l">
      Select a development area
    </h2>

    <p>Before you observe, first select a development area to focus on. Next, familiarise yourself with the focused development areas, as you will zoom in on one of these during your observation. Finally, craft a precise when you observe your teacher (some examples are provided below).</p>



    <h3 class="govuk-heading-m">
      Development area 1: Presence through posture
    </h3>

    <p><strong>Focused development area</strong></p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Teacher stands still when speaking to the class.</li>
      <li>Teacher adopts a confident, composed and open posture.</li>
      <li>Teacher gives instructions from the same spot in the classroom that allows for good visibility of the class.</li>
    </ul>



    <h3 class="govuk-heading-m">
      Development area 2: Deliver clear instructions
    </h3>

    <p><strong>Focused development area</strong></p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Teacher delivers instructions that are
    manageable and sequential.</li>
      <li>Teacher delivers instructions that detail the
    specific actions they need pupils to take.</li>
      <li>Teacher checks pupils know what to do by having
    them repeat the instructions.</li>
    </ul>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Example precise target for teacher delivers instructions that are manageable and sequential.
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li><strong>Not doing it at all:</strong> : Break down and deliver instructions in manageable steps. </li>
          <li><strong>Doing it but needs some
          improvement:</strong> Break down and deliver instructions in manageable steps that are ordered sequentially for pupils, e.g. by numbering each step. </li>
          <li><strong>Doing it well, but needs some
          stretch:</strong> Break down and deliver instructions in manageable steps that are ordered sequentially for pupils. Pause briefly between each step so pupils have time to take in each part of your instructions </li>
        </ul>  </div>
    </details>


    <h3 class="govuk-heading-m">
      Development area 3: Presence through voice
    </h3>

    <p><strong>Focused development area</strong></p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Teacher is using the appropriate register and
    pace to match the content of the instructions.</li>
      <li>Teacher maintains control of their emotions,
    speaking at the appropriate volume and with the
    appropriate tone. </li>
    </ul>


    <h2 class="govuk-heading-l">
      Observe
    </h2>


    <p>Consider the following questions based on a short (approximately 15 minute) observation of your teacher:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>What was your teacher’s previous target? Are they meeting it? How do you know?</li>
      <li>For the development area you are focussing on for this observation, what is your teacher already doing well?</li>
      </ul>

<p>Next, select a focused development area to further zoom in on. Then select
(from the examples) or write one precise target (bite-sized action) to coach your teacher on. You can choose to
stick with the previous target if your teacher have not made enough progress yet</p>

<p>How will you model the target to your teacher to show them what good looks like?</p>

<p>What questions will you ask to check your teacher understands the model? For example, ‘How it is different from your current
practice?’, ‘What impact might it have on your practice and pupils?’, ‘What links can you see between the model
and the module principles (below)?’</p>

  <p>Reminder: Your model should help your teacher develop their ability in some of the following:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Use consistent language and non-verbal signals for common classroom directions.</li>
    <li>Give manageable, specific and sequential instructions.</li>
    <li>Make the steps in a process memorable and ensure pupils can recall them.</li>
    <li>Deliver instructions using appropriate volume and tone of voice.</li>
    </ul>

    <p>Next, meet with your teacher to work through the ‘Feedback’ stage of instructional coaching.</p>













    {% endblock %}
