{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/module-list">Your mentor materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ucl/meetings-and-interactions">Autumn term:behaviour</a>
    </li>
  </ol>
</div>



<div class="govuk-grid-row">
  <br>

  <div class="govuk-grid-column-two-thirds-from-desktop">

    <br>
    <span class="govuk-caption-xl">The teacher's self-study materials</span>
    <h1 class="govuk-heading-xl">
      Week 1:Strand overview and contracting
    </h1>

    <!-- Session Overview -->
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>

    <ul class="govuk-list">
      <li>
        – <span>Video and strand introduction</span>
      </li>
      <li>
        – <a class="govuk-link" href="/dev/ambition/selfstudy-wk1-pt2">Strand overview</a>
      </li>
      <li>
        – <a class="govuk-link" href="/dev/ambition/selfstudy-wk1-pt3">Reflect</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-l">
      Video and strand introduction
    </h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/EpjSlCJtPLo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>

    <details class="govuk-details govuk-!-margin-top-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Video transcript
        </span>
      </summary>
      <div class="govuk-details__text">

        <p><strong>Presenter: Peps McCrea</strong></p>

        <p>We all know teachers who are great at fostering good behaviour. Pupils seem to like them, to work hard in their lessons. Perhaps you can remember a favorite teacher who neither you nor your classmates would mess around for. It’s tempting
          to think that this is down to individual character traits, that good behaviour management is just something that teachers can just do. But in fact, helping pupils to behave in a way that will support them to learn is something that all
          teachers can learn to do well. As role models for pupils, we can have a big influence over how they behave.</p>

        <p><strong>Presenter: Nicholas Hickman</strong></p>
        <p>Behaviour for learning involves putting things in place that will enable your pupils to think hard and try their best. Most effective behavior management strategies are proactive, rather than reactive. They involve advance planning. They
          require teachers to think about what they can do to shape behaviour for the better. To build an effective learning environment, teachers need to establish and maintain strong routines and set high expectations for learning. We also need to
          teach pupils the specific behaviours that support their learning. And to build strong relationships with pupils, teachers need to behave in a way that is consistent and make an effort to get to know them. Get to know the school behaviour
          policy, greet pupils in the corridors, make positive phone calls home. All of these things build trust and show that teachers care. Good behavior management doesn’t happen by chance or by magic. It happens as a result of advance planning
          and implementing tried and tested strategies over and over again. The results will be more than worth the effort.</p>

        <p><strong>Presenter: Peps McCrea</strong></p>
        <p>Over the course of the behaviour strand, we will help you learn how to shape your pupils’ behaviour, so that enables them to get the best out of school and beyond. The material’s based on a growing body of evidence for both outside and
          inside the classroom. In the first half of the strand, we’ll show you ways of effectively managing behavior. We’ll show you the value of strong classroom routines, clear expectations, and trust. In the second half of the strand, we look at
          how to create a climate for effective learning by providing structured support, helping pupils to be more receptive to challenge, and supporting them to think hard.</p>

        <p>The strand has been carefully sequenced so that it supports you across the term. At the beginning of the strand, we cover how to set up some of the key routines that you will want to have in place from day one. Towards the end of the
          strand, we’ll explore practices that require more complex behaviour management, such as setting up effective group work. What you learn in the first half of the strand will support you in the second.</p>

        <p>Each video will provide you with an overview of the module, practical strategies, and the model of classroom practice to watch and unpick. The videos focus on techniques that you can apply in the classroom and draw on the same research
          base that is outlined in the evidence summary. We don’t want you to just copy what you see in the videos. One example alone can never fit every context. What they can do, however, is give you a concrete example of some of the key ideas that
          you will learn. When you’re watching, pay close attention to the ideas that we highlight. These ideas are transferable across all subjects, phases, and learners. The better you understand these core principles, the more you will be able to
          adapt what you see to your specific needs.</p>

        <p>Over the course of this strand, we want you to learn some practical ways in which you can manage classroom behaviour, as well as some of the theory that underpins these practices. You will come to see that managing behaviour isn’t just
          about stopping disruption and getting pupils to comply. There’s a lot more we can do to influence pupil thinking and motivation, which will ultimately help them to learn.</p>

        <p>When behaviour’s going well, not only do pupils learn more, but it’s a much more enjoyable experience for everyone.</p>
      </div>

    </details>

    <h3 class="govuk-heading-m">
      Read | Strand introduction
    </h3>

    <p>Welcome to the Behaviour strand of the programme. This strand is composed of 12 modules and has been designed to last roughly a term. It is best completed during your first term as an NQT – typically the autumn term.</p>

    <p>By the end of this strand you will have an evidence-informed understanding of:</p>


    <ul class="govuk-list govuk-list--bullet">
      <li>
        How to establish an effective learning environment.</li>
      <li>
        How to effectively manage behaviour.</li>
      <li>
        The importance of holding and promoting high expectations for all pupils.</li>
    </ul>

    <p>This programme has been designed to ensure that teachers develop a holistic understanding of effective teaching so, while the Behaviour strand is mostly about behaviour, it also incorporates insights from Instruction and Subject.</p>

    <p>Furthermore, you’ll notice that as the strand progresses, modules will often touch on previously learned content. This is intentional and a crucial aspect of your learning experience. Some concepts on the programme are so important that they
      need to be revisited multiple times to ensure you develop a deep and durable understanding.</p>

    <p>The strand comprises modules sequenced to first explore the process of establishing an effective learning environment, before considering how to promote behaviours that support effective learning.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Module 1 explores the foundations of effective behaviour management.</li>
      <li>
        Modules 2-5 cover the process of laying the foundations of an effective learning environment.</li>
      <li>
        Modules 6-7 cover the process of maintaining an effective learning environment over time.</li>
      <li>
        Modules 8-11 explore more complex ideas around certain practices that can support more effective learning, incorporating and building on previous modules.</li>
      <li>
        Module 12 explores how teachers continue to improve the learning environment over time.</li>
    </ul>




    <h4 class="govuk-heading-s">
      Making it work
    </h4>

    <p>The features of effective learning environments can vary slightly depending on the subject(s), phase(s) or community you teach. In addition, there are some elements of the learning environment, like the school behaviour policy, that you will
      have limited control over. This is why it’s important that you work with subject and phase specialists in your school to help you identify the best ways to apply your learning. You have the responsibility to take ownership of your professional
      development and make it work, but also the right to seek assistance and support (for example with challenging behaviour). Talking to your colleagues and your mentor about the ideas and practices you encounter will help you to better understand
      what ‘good’ looks like for your particular context.
    </p>

    <p>The evidence cited in the strand draws primarily from research on:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Classroom practices of effective teachers.</li>
      <li>Cognitive science and educational psychology (for example, how pupils learn).</li>
      <li>Evidence on effective educational approaches (both in the UK and internationally).</li>
    </ul>

    <p>You might have previously come across some of the terminology explored, however some of the technical language used, particularly around cognitive science, may be new to you. Several key terms are explored further in the evidence summary below.</p>

    <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
      <ul class="gem-c-pagination__list" data-module="track-click">
        <li class="gem-c-pagination__item gem-c-pagination__item--next">
          <a href="/dev/ambition/selfstudy-wk1-pt2" class="gem-c-pagination__link" rel="next">
            <span class="gem-c-pagination__link-title">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
              <span class="gem-c-pagination__link-text">
                Next
              </span>
            </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Strand overview</span>
          </a>
        </li>
      </ul>
    </nav>



  </div>
</div>





{% endblock %}
