{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/module-list">Your mentor materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ucl/meetings-and-interactions">Autumn term:behaviour</a>
    </li>
  </ol>
</div>



<div class="govuk-grid-row">
  <br>

  <div class="govuk-grid-column-two-thirds-from-desktop">

    <br>
    <span class="govuk-caption-xl">The teacher's self-study materials</span>
    <h1 class="govuk-heading-xl">
      Week 2: routines
    </h1>

    <!-- Session Overview -->
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>

    <ul class="govuk-list">
      <li>
        – <span>Video</span>
      </li>
      <li>
        – <a class="govuk-link" href="/dev/ucl/selfstudy-wk2-pt2">Teaching challenge</a>
      </li>
      <li>
        – <a class="govuk-link" href="/dev/ucl/selfstudy-wk2-pt3">Reflect</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-l">
      Learning intentions for this session
    </h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/lWdabi1Km2U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Video transcript
    </span>
  </summary>
  <div class="govuk-details__text">
    <p><strong>Presenter intro: Peps McCrea</strong></p>
    <p>Good routines can really help both teachers and pupils. When they’re in place, classrooms work better, and everyone has more time for learning. And when teachers set up routines, they have a great opportunity to build a culture and environment that will help their pupils to learn. So routines are a brilliant place to start.</p>

    <p><strong>Presenter main</strong></p>

    <p>We know that the environment in which pupils learn can have a big impact on the quality of their learning. All pupils thrive in an environment where they feel safe and secure, and predictability can help with this. A predictable and secure environment can be particularly valuable for pupils with SEND.</p>

    <p>Predictable doesn’t mean boring or unstimulating. Quite the opposite. A predictable environment can provide the structure and security that enables pupils to do a wide range of activities such as playing, asking questions and thinking deeply. All of these can benefit learning.</p>

    <p>Teachers can use routines to build a secure environment. Where there are good routines in place, pupils know what they should and shouldn’t do, which helps them to succeed. It also tends to reduce negative behaviour. And when everyone sticks to the routines, the classroom can feel predictable and safe.</p>

    <p>Good routines also free up more time for learning. We knew that doing the same thing over time can help us to become more fluent in it. And once we do something fluently, it means we are drawing on information in our long-term memory, which frees up space in our working memory. This should help pupils to pay attention to what they’re learning.</p>

    <p>In order to establish routines, teachers need to plan, teach, and constantly reinforce routines with their pupils.</p>

    <p>In the first instance, teachers need to think carefully about the most important routines that they need and then plan how they will establish them. Typical classroom routines include how pupils enter and exit the classroom, how materials are handed out, how pupils move from one space in the room to another, how they respond to questions, and the routines for paired and group talk. These are things that pupils do all the time, so it’s worth creating a routine for them. When planning a routine, it’s useful to consider what the pupils should be doing, what resources they might need, and what the teacher should be doing.</p>

    <p>Once teachers have thought through their routines, they need to explicitly teach them to pupils and get all their pupils to practice and repeat them. When doing so, it is important that their instructions are specific, sequential and manageable.</p>

    <p>You might also discuss why the routine is there and how it can help pupils to achieve important classroom values.</p>

    <p>And when a routine is in place, teachers need to help it stay in place by clearly reminding pupils of what they need to do. Positive reinforcement is a great way to communicate the shared values that improve classroom and school culture. For example, teachers might reinforce the entry routine by thanking a pupil who walks into the classroom calmly or acknowledge a pupil who gets started with their work straight away. We can’t assume that pupils will know what this culture is. As key role models, teachers have to tell them and show them.</p>

    <p>All of this may take time to get right, and you may need to revisit routines across the year, but it is time and energy that is well worth investing in. Great classroom routines help to create a space where all pupils can learn.</p>

    <p><strong>Presenter exemplification framing</strong></p>

    <p>A key routine that teachers might want to think about is how their pupils will enter their classroom. In a moment, we are going to look at an entry routine. As you watch, pay particular attention to the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Explicitly teaching routine and behavioural expectations</li>
        <li>Positive reinforcement</li>
      </ul>


    <p><strong>Exemplification: Ambition Institute coach</p>

    <p>The way that pupils enter the classroom can have a big impact on the start of the lesson. We want to help them enter calmly and focus their attention on what they’re about to learn. Imagine that I’m teaching a year four class. I’ve collected them from the playground after break, and they are lined up waiting to enter the classroom. When they enter, there is an activity asking them to complete punctuation errors in simple sentences. This is something that they have practiced before, and I know that my pupils can all access the learning on their own. I’ve previously taught the class how I want them to enter the classroom, and they’ve practiced this. Now they’re doing it well, I want to reinforce our entry routine so it really sticks. Before the lesson, I quickly scripted what I want to say to make sure that my instructions are really clear.</p>

    <p>“Good morning year four, it’s lovely to see you all lined up so silently. So when we come into the classroom today, remember you’re going to move straight to your desk, begin the starter task in silence. Okay, first 10, in you come.</p>

    <p>[Teacher gestures to pupils to walk in. Teacher is intentionally looking at pupils lining up in the corridor and watching them as they enter the classroom]</p>

    <p>Morning, Arfan. Morning Artek, morning Chante. I can see Arfan’s already started the task in silence, thank you. Morning, Lily. So has Chante. Thank you.</p>

    <p>[Teacher notices that one pupil is not doing the starter activity so looks at them and then points at the instructions on the white board]</p>

    <p>Everyone moving nice and silently, thank you.”</p>

    <p>So let’s unpick the model. To begin with, I set clear expectations. I told them to come in, to move to their seats, and then begin the starter activity in silence. I then reiterated these instructions as the first couple of students entered. My pupils are familiar with this routine, but it’s still important to remind them of each step, in detail. First, they enter the classroom in silence. Then they sit at their seat and begin the starter activity. My instructions were specific and sequential, which helped pupils to follow them.</p>

    <p>I used positive reinforcement to help maintain the routine. As soon as I noticed pupils who were doing what I expected, I pointed this out. Arfan has made a start. Again, even when pupils are confident with the routine, positive reinforcement helps to keep it in place.</p>

    <p>You might also have noticed that I gave a non-verbal reminder. At one point in the routine, I noticed that one of my pupils hadn’t started to work as I’d asked. I looked at the pupil, then pointed at the instructions on the whiteboard. This quick, non-verbal reminder was enough to get the pupil back on track and it didn’t distract me or the other pupils. I was able to see this behaviour because I was standing in a position where I could see both into the classroom and the pupils as they entered, and I was constantly checking both.</p>

    <p>Finally, I created a culture where trust and respect are important by greeting each pupil in the same polite, warm, and friendly manner. In doing so, I’m welcoming each pupil into the classroom and establishing a positive tone for the lesson. I want my pupils to be polite, so it’s essential that I model this to every single one of them. And I also want them to begin the lesson with a positive interaction.</p>

    <p>Overall, my instructions help pupils follow the routine and get started quickly.</p>

    <p><strong>Presenter key ideas</strong></p>

    <p>In this video, we’ve thought about the role that routines play in the classroom, identified the key features of a good routine, and looked at an example that demonstrates these. Before we finish, take a moment to read through the key features of effective routines.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Explicitly teach routine and behavioural expectations</li>
        <li>Practise routines</li>
        <li>Give manageable, specific and sequential instructions</li>
        <li>Use consistent language and non-verbal signals for common classroom directions</li>
      </ul>

    <p>Which of these ideas do you currently recognize from your school setting?</p>

    <p></strong>Presenter summary</strong></p>

    <p>A big part of our job is to build an environment where pupils can learn and succeed. Getting your routines right provides a great foundation for learning. </p>

    </div>

</details>

    <h3 class="govuk-heading-m">
    You will learn how to:
    </h3>

    <h4 class="govuk-heading-s">
    Develop a positive, predictable and safe environment for pupils by:
    </h4>

<ul class="govuk-list govuk-list--spaced">
  <li>
    Using consistent language and non-verbal signals for common classroom
    directions.</li>
  <li>
    Using early and least-intrusive interventions as an initial response to low-level
    disruption.  </li>
  <li>
    Responding quickly to any behaviour or bullying that threatens emotional
    safety  </li>
</ul>

<h4 class="govuk-heading-s">
Build trusting relationships by:
</h4>

<ul class="govuk-list govuk-list--spaced">
<li>
Responding consistently to pupil behaviour.</li>
</ul>

<h2 class="govuk-heading-l">
  Introduction
</h2>

<p>This module focuses on Teachers’ Standards 1 and 7. These can be considered as foundational to your teaching because they address how you set up your classroom as a learning environment. As you work through the weeks of this module you will reflect on the different ways that you can influence your environment, and learn practical strategies that keep pupils safe, motivated and focused on learning.</p>








    <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
      <ul class="gem-c-pagination__list" data-module="track-click">
        <li class="gem-c-pagination__item gem-c-pagination__item--next">
          <a href="/dev/ucl/selfstudy-wk2-pt2" class="gem-c-pagination__link" rel="next">
            <span class="gem-c-pagination__link-title">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
              <span class="gem-c-pagination__link-text">
                Next
              </span>
            </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Research and practice summary</span>
          </a>
        </li>
      </ul>
    </nav>



  </div>
</div>





{% endblock %}
