{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/module-list">Your mentor materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ambition/meetings-and-interactions">Autumn term:behaviour</a>
    </li>
  </ol>
</div>



<div class="govuk-grid-row">
  <br>

  <div class="govuk-grid-column-two-thirds-from-desktop">

    <br>
    <span class="govuk-caption-xl">The teacher's self-study materials</span>
    <h1 class="govuk-heading-xl">
      Week 2: Routines
    </h1>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>

    <ul class="govuk-list">
      <li>
        – <span>Select</span>
      </li>
      <li>
        – <a class="govuk-link" href="/dev/ambition/selfstudy-wk2-pt2">Observe</a>
      </li>
    </ul>

    <!-- Session Overview -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Select
    </h2>

    <p>Before you observe, first select a <strong>development area</strong> to focus on.</p>

      <p>Next, familiarise youself with the <strong>focused development area</strong>, as you will zoom in on one of these during your observation.</p>

      <p>Finally, craft a <strong>precise target</strong> when you observe your teacher (examples are provided below).</p>

<h3 class="govuk-heading-m">
  Development area 1: Entry routine
</h3>

<h4 class="govuk-heading-s">
  Focused development area
</h4>

<ul class="govuk-list govuk-list--bullet">
  <li>Teacher greets pupils as they enter the classroom.</li>
  <li>Teacher ensures pupils know what to do as they
  enter the classroom.</li>
  <li>Teacher manages the flow of pupils into the
  classroom and restates the instructions so pupils
  are clear what they need to do.</li>
  <li>Teacher ensures pupils know they are
  accountable for following instructions as they
  enter the classroom.</li>
  <li>Teacher diagnoses pupils’ emotions as they enter
  the room and responds appropriately, e.g. by
  privately addressing a pupil if necessary.</li>
</ul>

<br>

<p><strong>Example precise target for teacher greets pupils as they enter the
classroom</strong></p>
<div class="govuk-inset-text">

<p>If your teacher is...</p>

<ul class="govuk-list govuk-list--bullet">
  <li><strong>Not doing it at all:</strong> When pupils are
  entering the classroom, deliver a
  greeting either individually or to the
  class and in line with your school’s
  policy.</li>
  <li><strong>Doing it but needs some
  improvement:</strong> When greeting
  pupils, use open body language
  to match your warm tone and
  language.</li>
  <li><strong>Doing it well, but needs some
  stretch:</strong> When appropriate, add
  personalised greeting tailored to
  individual pupils to help them feel
  welcome and motivated to learn. </li>
</ul>
</div>

<h3 class="govuk-heading-m">
  Development area 2: Starter activity
</h3>


<h4 class="govuk-heading-s">
  Focused development area
</h4>

<ul class="govuk-list govuk-list--bullet">
  <li>Teacher ensures pupils know what to do when
they start the activity</li>
  <li>Teacher ensures that pupils know they are
accountable for doing the activity. </li>
  <li>Teacher ensures that pupils are able to do the
task independently.</li>
  <li>Teacher ensures that the starter activity is aligned
to previously taught content.</li>
</ul>


<h3 class="govuk-heading-m">
  Development area 3: Practicising activity
</h3>


<h4 class="govuk-heading-s">
  Focused development area
</h4>

<ul class="govuk-list govuk-list--bullet">
  <li>Teacher ensures pupils know what to do when
they start the activity</li>
  <li>Teacher ensures that pupils know they are
accountable for doing the activity. </li>
  <li>Teacher ensures that pupils are able to do the
task independently.</li>
  <li>Teacher ensures that the starter activity is aligned
to previously taught content.</li>
</ul>


<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="track-click">
    <li class="gem-c-pagination__item gem-c-pagination__item--next">
      <a href="/dev/ambition/mentor-wk2-pt2" class="gem-c-pagination__link" rel="next">
        <span class="gem-c-pagination__link-title">
          <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
          <span class="gem-c-pagination__link-text">
            Next
          </span>
        </span>
        <span class="gem-c-pagination__link-divider visually-hidden">:</span>
        <span class="gem-c-pagination__link-label">Observe</span>
      </a>
    </li>
  </ul>
</nav>









    {% endblock %}
