{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/edt/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/edt/module-list">Your mentor materials</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <br>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Autumn first half term - establishing a positive climate for learning</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Module introduction</h3>
      </div>
    </div>
    <p>PLACEHOLDER CONTENT TO BE UPDATED During the first week of the module, your mentee should read this module introduction.</p>

    <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">View the teacher’s self-study materials</a></p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Week 1 - foundations of a positive climate for learning</h3>
        <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View which teachers' standards this topic relates to
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>standard 1 - setting high expectations</li>
      <li>standard 7 - managing behaviour</li>
    </ul>

  </div>
</details>
      </div>
    </div>
    <p>PLACEHOLDER CONTENT TO BE UPDATED During the first week of the module, your mentee has a self study session topic to cover, which you will go through with them when you meet.</p>

    <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">View the teacher’s self-study materials</a></p>
    <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Materials for you to use during your ECT catch-up</a></p>


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 2 - routines</h3>
      <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
    View which teachers' standards this topic relates to
  </span>
</summary>
<div class="govuk-details__text">
  <ul class="govuk-list govuk-list--bullet">
    <li>standard 1 - setting high expectations</li>
    <li>standard 7 - managing behaviour</li>
  </ul>

</div>
</details>


    </div>
  </div>
  <p>PLACEHOLDER CONTENT TO BE UPDATED During the second week of the module, your mentee has a self study session topic, which you will go through with them when you meet.</p>

  <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">View the teacher’s self-study materials</a></p>
  <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Materials for you to use during your ECT catch-up</a></p>


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 3 - establishing high behavioural expectations</h3>
      <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
    View which teachers' standards this topic relates to
  </span>
</summary>
<div class="govuk-details__text">
  <ul class="govuk-list govuk-list--bullet">
    <li>standard 1 - setting high expectations</li>
    <li>standard 7 - managing behaviour</li>
  </ul>

</div>
</details>
    </div>
  </div>
  <p>PLACEHOLDER CONTENT TO BE UPDATED During the third week of the module, your mentee has a self study session topic to cover, however there should still be a mentor session to cover X .</p>

  <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Materials for you to use during your ECT catch-up</a></p>


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 4 - maintaining high behavioural expectations</h3>
      <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      View which teachers' standards this topic relates to
      </span>
      </summary>
      <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
      <li>standard 1 - setting high expectations</li>
      <li>standard 7 - managing behaviour</li>
      </ul>

      </div>
      </details>
    </div>
  </div>
  <p>PLACEHOLDER CONTENT TO BE UPDATED During the fourth week of the module, your mentee has a self study session topic to cover, which you will go through with them when you meet.</p>

  <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">View the teacher’s self-study materials</a></p>
  <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Materials for you to use during your ECT catch-up</a></p>


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 5 - a supportive & inclusive learning environment</h3>
      <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      View which teachers' standards this topic relates to
      </span>
      </summary>
      <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
      <li>standard 1 - setting high expectations</li>
      <li>standard 7 - managing behaviour</li>
      </ul>

      </div>
      </details>
    </div>
  </div>
  <p>PLACEHOLDER CONTENT TO BE UPDATED During the third week of the module, your mentee has no self study topics to cover, however there should still be a mentor session to cover X .</p>

  <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Materials for you to use during your ECT catch-up</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 6 - putting it into practice</h3>
        <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        View which teachers' standards this topic relates to
        </span>
        </summary>
        <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
        <li>standard 1 - setting high expectations</li>
        <li>standard 7 - managing behaviour</li>
        </ul>

        </div>
        </details>
      </div>
    </div>
    <p>PLACEHOLDER CONTENT TO BE UPDATED During the fourth week of the module, your mentee has one self study topic to cover, which you will go through with them when you meet.</p>


    <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">View the teacher’s self-study materials</a></p>
    <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Materials for you to use during your ECT catch-up</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 7 - reflection on learning</h3>
        <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View which teachers' standards this topic relates to
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>standard 1 - setting high expectations</li>
      <li>standard 7 - managing behaviour</li>
    </ul>

  </div>
  </details>

      </div>
    </div>
    <p>PLACEHOLDER CONTENT TO BE UPDATED During the last week of the module, your mentee has a self study session topic, which you will go through with them when you meet.</p>

    <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">View the teacher’s self-study materials</a></p>
    <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Materials for you to use during your ECT catch-up</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">End of module reflection</h3>
      </div>
    </div>
    <p>PLACEHOLDER CONTENT TO BE UPDATED During the last  week of the module, your mentee should rflect on what they've learnt during this module.</p>

    <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">View the teacher’s self-study materials</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-9">




<p> NOTE FROM DOM - from here onwards it's examples of other weeks in other modules </p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week (next module) - No study/mentor</h3>
        <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View which teachers' standards this topic relates to
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>standard 1 - setting high expectations</li>
      <li>standard 7 - managing behaviour</li>
    </ul>

  </div>
  </details>
      </div>
    </div>
    <p>PLACEHOLDER CONTENT TO BE UPDATED something about no mentor meeting or self study, but depending on the school there might be training?</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week - Two mentor sessions, no self study </h3>
        <details class="govuk-details  govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        View which teachers' standards this topic relates to
        </span>
        </summary>
        <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
        <li>standard 1 - setting high expectations</li>
        <li>standard 7 - managing behaviour</li>
        </ul>

        </div>
        </details>      </div>
    </div>
    <p>PLACEHOLDER CONTENT TO BE UPDATED although your mentor does not have any self study sessions this week, you should meet with them twice to discuss xyz.</p>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Materials for you to use during your ECT catch-up</h4>

    <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">1. Assessing prior knowledge</a></p>
    <p class="govuk-!-margin-bottom-1"><a class="govuk-link" href="#">2. Extending pupils</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">




  </div>



</div>

{% endblock %}
