{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/edt/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/edt/module-list">Your module materials</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <br>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">First half term - establishing a positive climate for learning</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 1 - foundations of a positive climate for learning</h3>
        <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
      </div>
    </div>
    <p>PLACEHOLDER CONTENT TO BE UPDATED During the first week of the module, your mentee has two elf study topics to cover, which you will go through with them when you meet.</p>

    <p class="govuk-!-margin-bottom-1">Review what the teacher is learning:</p>

     <ol class="govuk-list govuk-list--number">
      <li>
        <a class="govuk-link" href="#">Video introduction to the block</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Understanding the evidence – Expectations, routines & relationships</a>
      </li>
    </ol>

    <p class="govuk-!-margin-bottom-1">Mentor discussion guide:</p>

    <ol class="govuk-list govuk-list--number">
      <li>
        <a class="govuk-link" href="#">Setting the scene and understanding your role in establishing positive behaviour</a>
      </li>
    </ol>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 2 - routines</h3>
      <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
    </div>
  </div>
  <p>PLACEHOLDER CONTENT TO BE UPDATED During the second week of the module, your mentee has two self study topics to cover, which you will go through with them when you meet.</p>

 <p class="govuk-!-margin-bottom-1">Review what the teacher is learning:</p>

  <ol class="govuk-list govuk-list--number">
    <li>
      <a class="govuk-link" href="#">Learning about classroom routines </a>
    </li>
  </ol>


  <p class= "govuk-!-margin-bottom-1">Mentor discussion guide:</p>
    <ol class="govuk-list govuk-list--number">

    <li>
      <a class="govuk-link" href="#">Establishing and reinforcing routines</a>
    </li>
  </ol>


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 3 - establishing high behavioural expectations</h3>
      <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
    </div>
  </div>
  <p>PLACEHOLDER CONTENT TO BE UPDATED During the third week of the module, your mentee has no self study topics to cover, however there should still be a mentor session to cover X .</p>

<p class= "govuk-!-margin-bottom-1">Mentor discussion guide:</p>
  <ol class="govuk-list govuk-list--number">


    <li>
      <a class="govuk-link" href="#">Establishing consistently high behavioural expectations</a>
    </li>
  </ol>


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 4 - maintaining high behavioural expectations</h3>
      <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
    </div>
  </div>
  <p>PLACEHOLDER CONTENT TO BE UPDATED During the fourth week of the module, your mentee has two one self study topic to cover, which you will go through with them when you meet.</p>


<p class="govuk-!-margin-bottom-1">Review what the teacher is learning:</p>

  <ol class="govuk-list govuk-list--number">

    <li>
      <a class="govuk-link" href="#">Learning about maintaining consistently high behavioural expectations</a>
    </li>
  </ol>

  <p class="govuk-!-margin-bottom-1">Mentor discussion guide:</p>

    <ol class="govuk-list govuk-list--number">
    <li>
      <a class="govuk-link" href="#">Reinforcing routines and positive behaviour in the classroom</a>
    </li>
  </ol>


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 5 - a supportive & inclusive learning environment</h3>
      <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
    </div>
  </div>
  <p>PLACEHOLDER CONTENT TO BE UPDATED During the third week of the module, your mentee has no self study topics to cover, however there should still be a mentor session to cover X .</p>

<p class= "govuk-!-margin-bottom-1">Mentor discussion guide:</p>
  <ol class="govuk-list govuk-list--number">


    <li>
      <a class="govuk-link" href="#">Establishing and maintaining a supportive, inclusive environment</a>
    </li>
  </ol>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 6 - putting it into practice</h3>
        <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
      </div>
    </div>
    <p>PLACEHOLDER CONTENT TO BE UPDATED During the fourth week of the module, your mentee has one self study topic to cover, which you will go through with them when you meet.</p>


  <p class="govuk-!-margin-bottom-1">Review what the teacher is learning:</p>

    <ol class="govuk-list govuk-list--number">

      <li>
        <a class="govuk-link" href="#">Developing your teaching – Your role in establishing positive behaviour</a>
      </li>
    </ol>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week 7 - reflection on learning</h3>
        <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
      </div>
    </div>
    <p>PLACEHOLDER CONTENT TO BE UPDATED During the last week of the module, your mentee has two elf study topics to cover, which you will go through with them when you meet.</p>

    <p class="govuk-!-margin-bottom-1">Review what the teacher is learning:</p>

     <ol class="govuk-list govuk-list--number">
      <li>
        <a class="govuk-link" href="#">Observations</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Reflecting on learning</a>
      </li>
    </ol>

    <p class="govuk-!-margin-bottom-1">Mentor discussion guide:</p>

    <ol class="govuk-list govuk-list--number">
      <li>
        <a class="govuk-link" href="#">Review and looking forward</a>
      </li>
    </ol>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Week (next module) - No study/mentor</h3>
        <span class="govuk-caption-m govuk-!-margin-bottom-4">This topic relates to teachers' standard [X]</span>
      </div>
    </div>
    <p>PLACEHOLDER CONTENT TO BE UPDATED something about no mentor meeting or self study, but depending on the school there might be training?</p>








  </div>



</div>

{% endblock %}
