
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/edt/home">Home</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Your mentor materials</h1>

  <br>

  {% include "includes/years.html" %}


    <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Autumn term</h2>

        <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="/dev/edt/meetings-and-interactions">First half-term: establishing a positive climate for learning</a></h3>
        <p>In this module your teacher will learn about teaching their pupils how to behave in your classroom, setting clear expectations and reinforcing these with consistent routines.</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h3 class="govuk-heading-m govuk-!-margin-top-3"><a href="#">Second half-term: how pupils learn - memory and cognition</a></h3>
  <p>In this module your teacher will gain an understanding of how the brain works, and how they can then design more effective learning for their pupils. </p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Spring term</h2>

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: developing effective classroom practice - teaching and adapting</a></h3>
  <p>In this module your teacher will focus on the fundamental techniques they can use to become a more effective teacher.</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h3 class="govuk-heading-m govuk-!-margin-top-3"><a href="#">Second half-term: the importance of subject and curriculum knowledge</a></h3>
  <p>In this module your teacher will learn practical ways to develop their subject and curriculum knowledge. </p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Summer term</h2>

  <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: assessment, feedback and questioning</a></h3>
  <p>In this module your teacher will work on developing effective assessment and feedback practices.</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h3 class="govuk-heading-m govuk-!-margin-top-3"><a href="#"><strong>Second half-term: a people profession</strong></a></h3>
  <p>In this module your teacher will focus on developing strong professional relationships to build the best outcomes for their pupils.</p>
</div>
</div>










{% endblock %}
