{% extends "layout-signin.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h3 class="govuk-heading-m">Demo Email</h3>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Sign in to Support for early career teachers</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>Hi</p>

    <p>
    Use this link to sign in to the service
    </p>

    <p><a href="/other-users/account-created">Add a link here</a></p>

    <p>This link will expire in XX</p>

    <p>
      You will need the email address your school used when they created your account. This will probably be your work email.
    </p>
    <p>
      Thanks,<br>
      The support for early careers teachers team
    </p>

  </div>
</div>

{% endblock %}
