{% extends "layout-other.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">What is the early career framework?</h1>


<p>The early career framework (ECF) is designed to make sure early career teachers (ECTs) focus on learning the things that make the most difference in the classroom and their professional practice.</p>

<p>The DfE-accredited materials, underpinned by the ECF, will support early career teachers. They’ll develop the essential knowledge and skills to set them up for a successful and fulfilling career in teaching.</p>

<p>ECTs will receive regular mentoring. Mentors also have access to a separate set of support materials, in addition to being able to view the ECT training programme.</p>


<h3 class="govuk-heading-m">What material is available?</h3>

<p>The materials published here are from the perspective of a mentor. Use them in whichever way that best suits you.</p>

<p>The Department for Education has selected 4 expert teacher training providers who have each developed their own accredited materials based on the ECF. Read more about the support available to ECTs and mentors from these suppliers on their own websites, or in the course materials below:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="/other-users/module-list">Ambition</a></li>
  <li><a href="#">Education development trust</a></li>
  <li><a href="#">Teach First</a></li>
  <li><a href="#">UCL</a></li>
</ul>

<p>Each set of materials cover the 5 core areas of the ECF:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>behaviour management</li>
  <li>pedagogy</li>
  <li>curriculum</li>
  <li>assessment</li>
  <li>professional behaviours</li>
</ul>

<p>Each programme is structured differently, but they all contain approximately the same number of hours of self-study material.</p>

</div>
</div>



{% endblock %}
