{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">The Early Career Framework </h1>


<p>Here's some blurb</p>

<p>There are four different versions of the material from the following providers:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="/dev/ambition/module-list">Ambition</a></li>
  <li><a href="#">Education development trust</a></li>
  <li><a href="#">Teach First</a></li>
  <li><a href="#">UCL</a></li>
</ul>



</div>
</div>



{% endblock %}
