{% extends "layout-signin.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Support for early career teachers</h1>


<p>Use this service to access training and support materials for the Early Career Framework (ECF), accredited by the Department for Education.</p>


  <a href="/other-users/signin" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg></a>

<h3 class="govuk-heading-m">Before you start</h3>

<h4 class="govuk-heading-s">Early career teachers and mentors</h4>
<p class="govuk-body">You’ll need the email address your school registered for you. This will probably be your work email.</p>

<h4 class="govuk-heading-s">If you're not an early career teacher or mentor</h4>
<p class="govuk-body">You'll need to <a href="/other-users/create-account">create an account</a> to access the materials</p>



</div>
</div>



{% endblock %}
