{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/tf/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/tf/module-list">Your mentor materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/tf/meetings-and-interactions">First half term - enabling pupil learning</a>
    </li>
  </ol>
</div>



<div class="govuk-grid-row">
  <br>

  <div class="govuk-grid-column-two-thirds-from-desktop">

    <br>
    <span class="govuk-caption-xl">The teacher's self-study materials</span>
    <h1 class="govuk-heading-xl">
      Week 2: observation discussion: routines
    </h1>

    <!-- Session Overview -->
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>

    <ul class="govuk-list">
      <li>
        – <span>Learning intentions</span>
      </li>
      <li>
        – <a class="govuk-link" href="/it4/selfstudy-wk4-pt2">Topic introduction</a>
      </li>
      <li>
        – <a class="govuk-link" href="/it4/selfstudy-wk4-pt3">Research and practice summary</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Learning intentions
    </h2>

    <h3 class="govuk-heading-m">
    Your ECT will learn how to:
    </h3>

    <h4 class="govuk-heading-s">
    Develop a positive, predictable and safe environment for pupils by:
    </h4>

<ul class="govuk-list govuk-list--spaced">
  <li>
    Using consistent language and non-verbal signals for common classroom
    directions.</li>
  <li>
    Using early and least-intrusive interventions as an initial response to low-level
    disruption.  </li>
  <li>
    Responding quickly to any behaviour or bullying that threatens emotional
    safety  </li>
</ul>

<h4 class="govuk-heading-s">
Build trusting relationships by:
</h4>

<ul class="govuk-list govuk-list--spaced">
<li>
Responding consistently to pupil behaviour.</li>
</ul>






    <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
      <ul class="gem-c-pagination__list" data-module="track-click">
        <li class="gem-c-pagination__item gem-c-pagination__item--next">
          <a href="/it4/selfstudy-wk4-pt2" class="gem-c-pagination__link" rel="next">
            <span class="gem-c-pagination__link-title">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
              <span class="gem-c-pagination__link-text">
                Next
              </span>
            </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Topic introduction</span>
          </a>
        </li>
      </ul>
    </nav>



  </div>
</div>





{% endblock %}
