{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/tf/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/tf/module-list">Your mentor materials</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Autumn first half-term: enabling pupil learning</h1>

    </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m"><strong>Week 1: intro discussion</strong></h2>
        <p>CONTENT TO BE UPDATED. The ECT should look at the module intro for their first week of self study. During the session you should introduce the year to your ECT</p>

        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Discussion guide</a>
          </li>
        </ul>

      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-4"><strong>Week 2: observation discussion: routines</strong></h2>
    <p>CONTENT TO BE UPDATED. This week features a self-study element followed by a meeting with your mentee to discuss the topic and how it can be applied in the classroom. Your will also observe your mentee.</p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/dev/tf/activities-wk2-pt1">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Discussion guide</a>
      </li>
    </ul>
  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-4"><strong>Week 3: observation discussion: giving precise praise and acknowledgement to pupils </strong></h2>
    <p>CONTENT TO BE UPDATED. This week features a self-study element followed by a meeting with your mentee to discuss the topic and how it can be applied in the classroom. Your will also observe your mentee.</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Discussion guide</a>
      </li>
    </ul>
  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-4"><strong>Week 4: observation discussion: positive and least invasive behaviour management strategies</strong></h2>
    <p>CONTENT TO BE UPDATED. This week features a self-study element followed by a meeting with your mentee to discuss the topic and how it can be applied in the classroom. Your will also observe your mentee.</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Discussion guide</a>
      </li>
    </ul>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-4"><strong>Week 5: observation discussion: how to respond to persistent and challenging behaviour</strong></h2>
    <p>CONTENT TO BE UPDATED. This week features a self-study element followed by a meeting with your mentee to discuss the topic and how it can be applied in the classroom. Your will also observe your mentee.</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Discussion guide</a>
      </li>
    </ul>
  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-4"><strong>Week 6: observation discussion: build pupils’ intrinsic motivation to engage with the lesson</strong></h2>
    <p>CONTENT TO BE UPDATED. This week features a self-study element followed by a meeting with your mentee to discuss the topic and how it can be applied in the classroom. Your will also observe your mentee.</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Discussion guide</a>
      </li>
    </ul>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-4"><strong>Week 7: observation discussion: increase pupil participation</strong></h2>
    <p>CONTENT TO BE UPDATED. This week features a self-study element followed by a meeting with your mentee to discuss the topic and how it can be applied in the classroom. Your will also observe your mentee.</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">View the teacher’s self-study materials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Discussion guide</a>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  </div>
</div>






{% endblock %}
