
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/tf/home">Home</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Your mentor materials</h1>

  <br>

  {% include "includes/years.html" %}


  <h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Autumn term</h2>

      <h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="/dev/tf/meetings-and-interactions">First half-term: How can you create an effective learning environment?</a></h3>
<p>In this module your teacher will explore what effective learning environments look like and strategies they can use to achieve them.</p>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h3 class="govuk-heading-m govuk-!-margin-top-3"><a href="/dev/tf/meetings-and-interactions-2">Second half-term: how do pupils learn?</a></h3>
<p>In this module your teacher will explore the findings and evidence gathered during studies of how pupils learn, and the related implications for their teaching.</p>
</div>
</div>


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Spring term</h2>

<h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: what makes classroom practice effective?.</a></h3>
<p>In this module your teacher will hear an education expert talking about the features of effective classroom practice and why they are so important. They will then explore the features in detail and have time to plan them into their sequences of lessons.</p>
</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h3 class="govuk-heading-m govuk-!-margin-top-3"><a href="#">Second half-term: how can you use assessment and feedback to greatest effect? </a></h3>
<p>In this module your teacher will hear from education experts about why assessment should be at the heart of your teaching. They'll also explore ways to give purposeful feedback to their pupils and what they can learn from summative data sets. </p>
</div>
</div>


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-5">Summer term</h2>

<h3 class="govuk-heading-m govuk-!-margin-top-6"><a href="#">First half-term: how can you support all pupils to succeed?</a></h3>
<p>In this module your teacher will hear a variety of educational specialists talk about ways to support all pupils to succeed across the curriculum, and why this is so important.</p>
</div>
</div>


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">


<h3 class="govuk-heading-m govuk-!-margin-top-3"><a href="#">Second half-term: how to design a coherent curriculum</a></h3>
  <p>In this module your teacher will learn how to design a carefully sequenced and coherent scheme of work and how this will improve learning for their pupils.</p>
</div>
</div>


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">


</div>
</div>












{% endblock %}
