{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ucl/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ucl/module-list">Your mentor materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ucl/meetings-and-interactions">First half term - enabling pupil learning</a>
    </li>
  </ol>
</div>



<div class="govuk-grid-row">
  <br>

  <div class="govuk-grid-column-two-thirds-from-desktop">

    <br>
    <span class="govuk-caption-xl">The ECT's self-study materials</span>
    <h1 class="govuk-heading-xl">
      Week 2 - Understanding teachers as role models
    </h1>

    <!-- Session Overview -->
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>

    <ul class="govuk-list">
      <li>
        – <a class="govuk-link" href="/dev/ucl/selfstudy-wk2-pt1">Learning intentions for this session and introduction</a>
      </li>
      <li>
        – <a class="govuk-link" href="/dev/ucl/selfstudy-wk2-pt2">Research and practice summary</a>
      </li>
      <li>
        – <span>Self-study activities</span>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Self-study activities
    </h2>

    <h3 class="govuk-heading-m">Review: 10 mins</h3>

    <p>Read the research and practice summary on this week’s topic. As you read, reflect on:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        the practices that you are already doing well
      </li>
      <li>
        the practices you are doing some of the time, but could do more of/more consistently
      </li>
      <li>
        the practices you do not use in your teaching yet
      </li>
    </ul>

    <p>As you work through the activities in this week’s self-directed study session and mentor meeting, aim to both refine and extend what you already do well, and to build your skill and confidence in using practices which are not yet a regular
      part of your teaching repertoire.</p>


    <h3 class="govuk-heading-m">Plan: 15 mins</h3>

    <p><strong>Analyse artefacts / discuss with a colleague</strong></p>

    <p>Spend some time exploring the culture and values of your school, then capture what you think are the main features of this culture / these values in a way that suits you. This could be in a short narrative, a bulleted list or a diagram, for
      example.</p>

    <p>To help you, you might:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        read paperwork that outlines your school’s culture and values – for example, staff induction documentation or promotional materials (you could also look on your school’s website for this information)
      </li>
      <li>
        walk around the building and notice what this tells you about the culture and what is valued. What is on display, and on noticeboards? What is celebrated? How do staff and pupils interact with each other?
      </li>
      <li>
        speak to a colleague who has been at the school for a while and ask them what they feel characterises the culture and values of the school
      </li>
    </ul>

    <h3 class="govuk-heading-m">Theory to practice: 15 mins</h3>

    <p><strong>1. Observe a colleague</strong></p>

    <p>As you have read above, how you set the expectations in your classroom will significantly shape the learning that happens within it. Arrange to observe the beginning (first 5 minutes) of an experienced colleague’s lesson. Make brief notes on
      all the ways that this colleague communicates their expectations about attitudes, values and behaviour in their classroom. Ask your mentor to suggest a suitable colleague, if necessary.</p>

    <p>To shape this observation, you could look out for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        How the colleague manages entry to the room: how do pupils enter? Do they line up first? Is entry controlled in any way? What happens if pupils are not following expectations?
      </li>
      <li>
        What pupils do on entry to the room: do they have a routine for dealing with their bags and outdoor coats? Do they sit down immediately? How quickly do they settle? Is there work or an activity ready for them to get on with?
      </li>
      <li>
        How the teacher communicates their expectations verbally and non-verbally: what words do they use? What tone, volume and pitch? How are facial expressions and gestures used to communicate with pupils?
      </li>
      <li>
        How the colleague uses aspects of the model described above: clarify; model; practice; reinforce</li>
    </ul>

    <p><strong>2. Scripting</strong></p>

    <p>Use the ideas in the research and practice summary above, and your notes from this session so far, to script your own routine for how pupils will enter your classroom. If relevant to your setting, you may want to consider the role of parents
      and carers as part of this, too.</p>

    <p>Your script should address the ‘clarify’ and ‘model’ stages of the process described in this week’s research and practice summary. Include in this script:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        your expectations about how pupils will enter the room: will they line up? Where? Who decides when pupils enter? What will happen if pupils aren’t following expectations?
      </li>
      <li>
        instructions you will give pupils about what to do on entry: how will they deal with bags and coats? Will they sit down immediately? What are your expectations about how quickly they settle? What should pupils ‘do’ once they are settled?
      </li>
      <li>
        how you will model your expectations to your pupils
      </li>
      <li>
        notes for yourself on how you will create opportunities for pupils to practise your new routine</li>
      <li>
        notes for yourself on how you will communicate your expectations verbally and non-verbally: what language could you use to greet different pupils? How will you use tone, volume and pitch? How will you use facial expressions and gestures to
        help reinforce your expectations?</li>
    </ul>

    <p>Be as specific as you can in the detail you give. The purpose of this activity is to help you think in detail about how you can set clear expectations about behaviour on entry to your classroom, and create a predictable and secure environment
      that supports effective learning.</p>


    <h3 class="govuk-heading-m">Next steps</h3>

    <p>Bring your script and any notes you have made from the other activities in this session to your mentor meeting this week. Be ready to discuss your script with your mentor and work together to refine it further. You will have a chance to
      rehearse this script with your mentor before putting it into practice in your teaching.</p>




    <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
      <ul class="gem-c-pagination__list" data-module="track-click">
        <li class="gem-c-pagination__item gem-c-pagination__item--previous">
          <a href="/dev/ucl/selfstudy-wk2-pt1" class="gem-c-pagination__link" rel="next">
            <span class="gem-c-pagination__link-title">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="gem-c-pagination__link-text">
                Previous
              </span>
            </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Research and practice summary</span>
          </a>
        </li>

      </ul>
    </nav>



  </div>
</div>





{% endblock %}
