{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ucl/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ucl/module-list">Your mentor materials</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/ucl/meetings-and-interactions">First half term - enabling pupil learning</a>
    </li>
  </ol>
</div>



<div class="govuk-grid-row">
  <br>

  <div class="govuk-grid-column-two-thirds-from-desktop">

    <br>
    <span class="govuk-caption-xl">The ECT's self-study materials</span>
    <h1 class="govuk-heading-xl">
      Week 2 - Understanding teachers as role models
    </h1>

    <!-- Session Overview -->
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>

    <ul class="govuk-list">
      <li>
        – <a class="govuk-link" href="/dev/ucl/selfstudy-wk2-pt1">Learning intentions for this session and introduction</a>
      </li>
      <li>
        – <span>Research and practice summary</span>
      </li>
      <li>
        – <a class="govuk-link" href="/dev/ucl/selfstudy-wk2-pt3">Self-study activities</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Research and practice summary
    </h2>

    <p>This reading will help you understand some of the theory behind this week’s topic. We will start by introducing some of the key concepts (these are in bold). You will also see some suggestions of how to put these concepts into practice. When
      using these concepts in your own practice you will need to take account of your pupils’ characteristics, the context of your classroom and the nature of the material that you are teaching.</p>


    <h3 class="govuk-heading-m">A new year and a fresh start</h3>

    <p>Sam is excited – and nervous – about starting a new job in September. At her current school she is happy: pupils respect and trust her, see her as a role model, and know that she believes in them.</p>

    <p>However, it took Sam a couple of years to reach this point and she knows she made some mistakes along the way. To make the most of her fresh start, Sam’s current mentor suggests that she considers how to communicate her expectations to her new
      pupils and create a positive learning environment from day one.</p>

    <p><strong>What do you think Sam should consider in order to embed expectations early on with her new classes, in order to recreate the respect and trust she had fostered at her old school?</strong></p>



    <br>
    <p>Teachers can be extraordinarily influential – you can improve the motivation, wellbeing and behaviour of your pupils. In turn, this will help you to improve their life chances, especially for the most disadvantaged pupils. Ultimately, the
      quality of your teaching is what matters most, but creating secure foundations by acting as a role model, clarifying your expectations, and creating a culture of trust and respect will help your teaching to have the greatest possible impact.
      You can do this by:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <strong>acting as a role model</strong> – your actions can influence the attitudes, values and behaviours of your pupils. For instance, modelling a joy of reading may influence your pupils’ attitudes to reading. Therefore, you should be
        purposeful and consider the attributes you wish to foster through your example. Pupils may be especially impressionable if they identify with you, or if they lack existing positive role models
      </li>
      <li>
        <strong>clarifying your expectations</strong> – your expectations of pupils can affect their outcomes. This is sometimes known as the Pygmalion effect, through which pupils can internalise expectations of them held by others. Setting
        challenging, yet achievable goals will help you to communicate your high expectations and support pupils to achieve more. You should set similar expectations about behaviour by, for instance, not tolerating low-level disruption
      </li>
      <li>
        <strong>creating a culture of respect and trust</strong> – this can be achieved by doing lots of simple things well, such as actively modelling and reinforcing the courteous behaviour you expect pupils to show you and their peers. For
        instance, by respectfully listening to others’ ideas and actively modelling how to do this and why it matters
        model an ongoing commitment to question, reflect upon and develop practice in collaboration with colleagues
      </li>
    </ul>


    <h3 class="govuk-heading-m">A culture of trust and respect</h3>

    <p>Just like in Sam’s previous school, the first time she set a collaborative activity for her new class, she spent time discussing and agreeing with them a set of class rules aimed at fostering a culture of respect and trust. Rules included
      ‘listening carefully to others’ views’ and ‘respecting each other’s views’. Taken together, the rules that Sam’s class agreed helped to reinforce their shared value about the importance of fairness.</p>

    <p>The rules were similar to those from previous years, but this time Sam paid more attention to the details of how these rules were embedded with the class, having learnt how important this is. For instance, she systematically modelled the rules
      with her own behaviour, sometimes exaggerating this for effect. Furthermore, Sam reinforced the rules by highlighting successes and reminding pupils consistently of expectations if they violated the rules. As part of reinforcement, Sam also
      emphasised the positive link between time on task and learning.</p>

    <p>Over time, Sam’s pupils began to remind each other about the rules, and the culture of respect and trust helped all pupils to succeed. Notably, it became much easier for Sam to teach and for pupils to learn in these conditions – the initial
      investment of lesson time was worth it for its overall benefit across the year.</p>

    <br>

    <p><strong>Routines</strong> are a sequence of actions regularly followed. School life is full of routines and teachers can influence these routines so that they are both effective and efficient – this helps to maximise the time available for
      learning. Routines can also help create a predictable and secure environment for all pupils, which may be particularly helpful for pupils with special educational needs.</p>

    <p>Routines can be helpful in many different situations. These will depend to an extent on your own context. Common situations where routines are useful include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <strong>transition points</strong> – moving from one activity to another, especially when physical movement is needed, such as younger pupils moving from working at tables to sitting on the carpet
      </li>
      <li>
        <strong>using equipment</strong> – excess time taken in distributing and gathering equipment is time that could be better spent learning, so establishing efficient routines is important here
      </li>
      <li>
        <strong>entering and exiting lessons</strong> – simple routines to support entry and exit include the use of seating plans and ‘board activities’ for pupils to begin as soon as they enter the classroom
      </li>
      <li>
        <strong>collaborative and paired work</strong> – pupils benefit from clear routines to support them to work effectively and efficiently together. Working with others is most impactful when pupils are clear about how to do this well – for
        example, having defined roles for each member of a group; clarifying strategies for contributing and listening to ideas within the group; and establishing processes for feeding back outcomes to the class at the end of the task
      </li>
      <li><strong>safety</strong>– different subjects pose different risks, but establishing routines, such as how pupils wear goggles in science, can help maintain safety for everybody</li>
    </ul>


    <p><strong>Establishing and maintaining routines,</strong> like any behaviour, takes effort – especially in the early stages of working with a new class. It can be helpful to think of this as a four-stage process; the speed and emphasis placed on
      each stage will depend on your pupils’ characteristics, your classroom context and the focus of the routine. It may be necessary to re-model or provide further practice if adherence to a given routine decreases over time.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><strong>clarify</strong> - begin by clarifying exactly what the routine involves and why you are using it. For instance, the aim of the routine may be mainly about maximising time for learning safely</li>
      <li>
        <strong>model</strong> – show pupils how to perform the routine and explain its purpose, highlighting the core principles or elements of the routine. It can help to show non-examples that represent common misinterpretations of the routine as
        part of this
      </li>
      <li>
        <strong>practice</strong> - scaffold opportunities for practice when first using the routine. Including an element of competition may be appropriate here – for example, timing groups of pupils to see who can clear away equipment and be ready
        to exit the classroom in the least time
      </li>
      <li>
        <strong>reinforce</strong> – regularly reinforce the routine by acknowledging when it is done well and providing reminders and further practice where it is not
      </li>
    </ul>

    <br>

    <h3 class="govuk-heading-m">Establishing and maintaining a routine for gluing in sheets</h3>

    <p>Following her mentor’s advice, Sam spent some time thinking about the routines that she wanted to establish with her new class. One area where she needed a stronger routine was gluing sheets into pupils’ books. Initially, Sam thought it might
      be too trivial an action to focus on, but on reflection she found that it really did matter to her.</p>

    <p>Too often in the past, this had been a slow process which some pupils did so ineffectively that their books were messy or resources got lost. Sam had even found herself sometimes gluing in sheets when she was marking books, which was a poor
      use of her time. This time Sam was clear with her new pupils about the routine she wanted to embed:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><strong>clarify</strong> Sam clarified to pupils how she wanted sheets stuck into books: open, not folded; edges inside the book, not hanging out; a single line of glue around each edge, not across the whole sheet. Sam then thought about the routine pupils needed to embed to achieve this. She already kept glue sticks on the table, but she added in a stage of peer checking, too
      </li>
      <li>
        <strong>model</strong> – Sam explained to pupils why the routine mattered, which included showing the class two old exercise books: one where the routine had been followed, and one where it had not. Sam also modelled the process using her visualiser and a volunteer peer checker, and pointed out common mistakes as well as how to avoid these
      </li>
      <li>
        <strong>practice</strong> - Sam purposefully built in time for practice during the first weeks of term. As she built in peer checking of books it naturally became a little competitive and pupils enjoyed trying to glue in their sheets both efficiently and effectively
      </li>
      <li>
        <strong>reinforce</strong> –  the peer checking became a powerful way of reinforcing the routine and this also contributed to the wider class culture of high expectations. Sam also regularly reinforced the rationale for the routine and its link to pupils’ learning. If sheets had not been glued in correctly, Sam provided targeted reinforcement of her expectations
      </li>
    </ul>

<p>To make the most of your routines, consider the following questions:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>What is the purpose of each routine?</li>
  <li>What – exactly – do you expect to happen during each routine?</li>
  <li>How will you provide sufficient high-quality practice for each routine?</li>
  <li>How will you reinforce each routine?</li>
</ul>

<p>You could then consider each routine from your pupils’ perspective:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Do pupils understand the purpose of each routine?</li>
  <li>Do pupils understand, exactly, what to do with each routine?</li>

</ul>


    <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
      <ul class="gem-c-pagination__list" data-module="track-click">
        <li class="gem-c-pagination__item gem-c-pagination__item--previous">
          <a href="/dev/ucl/selfstudy-wk2-pt1" class="gem-c-pagination__link" rel="next">
            <span class="gem-c-pagination__link-title">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="gem-c-pagination__link-text">
                Previous
              </span>
            </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Learning intentions for this session and introduction</span>
          </a>
        </li>
        <li class="gem-c-pagination__item gem-c-pagination__item--next">
          <a href="/dev/ucl/selfstudy-wk2-pt3" class="gem-c-pagination__link" rel="next">
            <span class="gem-c-pagination__link-title">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
              <span class="gem-c-pagination__link-text">
                Next
              </span>
            </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Self-study activities</span>
          </a>
        </li>
      </ul>
    </nav>



  </div>
</div>





{% endblock %}
