{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/edt/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/edt/module-list">Materials for you to use during your ECT catch-up</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/dev/edt/meetings-and-interactions">Autumn term:behaviour</a>
    </li>
  </ol>
</div>



<div class="govuk-grid-row">
  <br>

  <div class="govuk-grid-column-two-thirds-from-desktop">

    <br>
    <span class="govuk-caption-xl">Materials for you to use during your ECT catch-up</span>
    <h1 class="govuk-heading-xl">
      Week 4: maintaining high behavioural expectations
    </h1>

    <!-- Session Overview -->

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contents</p>

    <ul class="govuk-list">
      <li>
        – <a class="govuk-link" href="/dev/ambition/mentor-wk3-pt1">Intended outcomes</a>
      </li>
      <li>
        – <span>Activities</span>
      </li>
      <li>
        – <a class="govuk-link" href="/dev/ambition/mentor-wk3-pt1">Planning for action</a>
      </li>

    </ul>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">
  Activities
</h2>




<h3 class="govuk-heading-m">
  Reflecting on learning (10 minutes)
</h3>

<p>Revisit the ECT’s top five behavioural expectations from the previous session. Ask them: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>How have you communicated them?</li>
  <li>How have you practised them?</li>
  <li>How have you reinforced them?</li>
</ul>

<p>Are these behavioural expectations being met in all of their lessons? If the ECT says yes, ask them to talk
through the evidence of this. If no (which is probably more likely at this stage) ask them which ones are the
key issues.</p>

<p>Pose the question: <strong>What actions are you taking to influence these behaviours?</strong></p>

<p>Go over the impact a positive climate for learning can have on behaviour and explain that this session is all
about thinking about establishing some of the things that make up the climate for learning in the classroom.
In particular focus on the class/es that the ECT is finding the trickiest</p>

<p>The mentor may want to cover:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Building, maintaining and fixing relationships with pupils</li>
  <li>Developing effective routines</li>
  <li>Maintaining high expectations of pupils’ behaviour and learning.</li>
</ul>



<h3 class="govuk-heading-m">
  Identifying problem areas (10 minutes)
</h3>

<p>not important to add content now</p>

<h3 class="govuk-heading-m">
  Improving behaviour (30 minutes)
</h3>

<p>Take a look at the example action plan on <a href="https://www.early-career-framework.education.gov.uk/edt/wp-content/uploads/sites/2/2020/08/Block-1-mentor-handout-1.4.pdf">Handout 1.4</a>. The teacher has identified a key issue and then used
the table below to plan out action steps. </p>

<p>From the area identified in the last activity, use the content below to select an action step. Together, use the template
to write an action plan to help the ECT’s class.</p>

<br>
<h4 class="govuk-heading-s">
  Issue - problems with specific
</h4>

<p><strong>Action to take.</strong> Speak to colleagues about pupils in the class</p>

<p><strong>How to do it.</strong> Identify a colleague who can support you with this specific pupil or class and find an appropriate time to ask for their support.</p>

<p>This could be the pupil’s tutor, a class teacher, a TA or another member of support staff.</p>

<p><strong>How it can help.</strong> Can help solve issues with individual pupils.</p>
<p>Gain information about the pupil from their tutor or another teacher.</p>
<p>Gain information from a more experienced teacher on how they deal with specific pupils/situations.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h4 class="govuk-heading-s">
  My pupils are not always following my instructions
</h4>

<p><strong>Action to take.</strong> Contact parents/carers with positive news </p>

<p><strong>How to do it.</strong> Identify a colleague who can support you with this specific pupil or class and find an appropriate time to ask for their support.</p>

<p>This could be the pupil’s tutor, a class teacher, a TA or another member of support staff.</p>

<p><strong>How it can help.</strong> Can help solve issues with individual pupils.</p>
<p>Gain information about the pupil from their tutor or another teacher.</p>
<p>Gain information from a more experienced teacher on how they deal with specific pupils/situations.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h4 class="govuk-heading-s">
  My pupils are not always following my instructions
</h4>

<p><strong>Action to take.</strong> Contact parents/carers with positive news </p>

<p><strong>How to do it.</strong> Identify a colleague who can support you with this specific pupil or class and find an appropriate time to ask for their support.</p>

<p>This could be the pupil’s tutor, a class teacher, a TA or another member of support staff.</p>

<p><strong>How it can help.</strong> Can help solve issues with individual pupils.</p>
<p>Gain information about the pupil from their tutor or another teacher.</p>
<p>Gain information from a more experienced teacher on how they deal with specific pupils/situations.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h4 class="govuk-heading-s">
  My pupils are not always following my instructions
</h4>

<p><strong>Action to take.</strong> Contact parents/carers with positive news </p>

<p><strong>How to do it.</strong> Identify a colleague who can support you with this specific pupil or class and find an appropriate time to ask for their support.</p>

<p>This could be the pupil’s tutor, a class teacher, a TA or another member of support staff.</p>

<p><strong>How it can help.</strong> Can help solve issues with individual pupils.</p>
<p>Gain information about the pupil from their tutor or another teacher.</p>
<p>Gain information from a more experienced teacher on how they deal with specific pupils/situations.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h4 class="govuk-heading-s">
  My pupils are not always following my instructions
</h4>

<p><strong>Action to take.</strong> Contact parents/carers with positive news </p>

<p><strong>How to do it.</strong> Identify a colleague who can support you with this specific pupil or class and find an appropriate time to ask for their support.</p>

<p>This could be the pupil’s tutor, a class teacher, a TA or another member of support staff.</p>

<p><strong>How it can help.</strong> Can help solve issues with individual pupils.</p>
<p>Gain information about the pupil from their tutor or another teacher.</p>
<p>Gain information from a more experienced teacher on how they deal with specific pupils/situations.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h4 class="govuk-heading-s">
  My pupils are not always following my instructions
</h4>

<p><strong>Action to take.</strong> Contact parents/carers with positive news </p>

<p><strong>How to do it.</strong> Identify a colleague who can support you with this specific pupil or class and find an appropriate time to ask for their support.</p>

<p>This could be the pupil’s tutor, a class teacher, a TA or another member of support staff.</p>

<p><strong>How it can help.</strong> Can help solve issues with individual pupils.</p>
<p>Gain information about the pupil from their tutor or another teacher.</p>
<p>Gain information from a more experienced teacher on how they deal with specific pupils/situations.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">











<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="track-click">
    <li class="gem-c-pagination__item gem-c-pagination__item--previous">
      <a href="/dev/ambition/mentor-wk3-pt1" class="gem-c-pagination__link" rel="next">
        <span class="gem-c-pagination__link-title">
          <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="gem-c-pagination__link-text">
            Previous
          </span>
        </span>
        <span class="gem-c-pagination__link-divider visually-hidden">:</span>
        <span class="gem-c-pagination__link-label">Observation</span>
      </a>
    </li>

  </ul>
</nav>











    {% endblock %}
