{% extends "layout.html" %}

{% block pageTitle %}
  Email
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h1 class="govuk-heading-xl">Email</h1>

    <h2 class="govuk-heading-s">Sign in to your ‘Coaching and mentoring for early career teachers’ account</h2>

    <p>
      Hi Joe,
    </p>
    <p>
      You can now access an online service designed to make your role as a teaching mentor easier.
    </p>
    <p>
      We have replaced the one-year newly qualified teacher (NQT) induction with a new 2-year coaching and mentoring programme. 
      This will give teachers all the tools they need to thrive in their new role.
    </p>
    <p>
      The programme has been developed by teachers, school leaders, education experts and the Department for Education. 
      It’s broken down into weekly topics aligned to the 
      <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/665520/Teachers__Standards.pdf">teachers’ standards</a>.
    </p>
    <p>
      The service gives you access to handy overviews of all the weekly topics.
    </p>
    <p>
      You’ll be able to check the progress of teachers you’re coaching and mentoring.
    </p>
    <p>
      You can record weekly lesson feedback in your account. These can also be shared with their induction tutors for performance reviews.
    </p>

    <p>
      <a href="./dashboard" class="govuk-link">
        Sign in to your account
      </a>
    </p>
  </div>
</div>

{% endblock %}
