{% extends "layout.html" %}
{% from "./_macros.html" import demoText %}

{% block pageTitle %}
  Teacher
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/iteration-2/home">Home</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h1 class="govuk-heading-xl">Joe Bloggs</h1>

    <h2 class="govuk-heading-l">Year 1</h2>

    <h2 class="govuk-heading-l">Autumn term</h2>

    <h3 class="govuk-heading-m">First half-term - How your teacher can create an effective learning environment?</h3>

    {{ demoText(2) }}

    <p>
      <a class="govuk-link" href="./teacher-progress">View Joe's progress</a>
      <br>
      <a class="govuk-link" href="./meetings-and-interactions">Materials for your weekly meeting </a>
    </p>

    <h3 class="govuk-heading-m">Second half-term - How do pupils learn?</h3>

    {{ demoText(2) }}

    <p>
      <a class="govuk-link" href="#">View Joe's progress</a>
      <br>
      <a class="govuk-link" href="#">Materials for your weekly meeting </a>
    </p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Spring term</h2>

    <h3 class="govuk-heading-m">Third half-term - What makes classroom practice effective?</h3>

    {{ demoText(2) }}

    <p>
      <a class="govuk-link" href="#">View Joe's progress</a>
      <br>
      <a class="govuk-link" href="#">Materials for your weekly meeting </a>
    </p>


    <h3 class="govuk-heading-m">Fourth half-term - How your teacher can use assessment and feedback to greatest effect?</h3>

    {{ demoText(2) }}

    <p>
      <a class="govuk-link" href="#">View Joe's progress</a>
      <br>
      <a class="govuk-link" href="#">Materials for your weekly meeting </a>
    </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Summer term</h2>

    <h3 class="govuk-heading-m">Fifth half term - How can you support all pupils to succeed?</h3>

    {{ demoText(2) }}

    <p>
      <a class="govuk-link" href="#">View Joe's progress</a>
      <br>
      <a class="govuk-link" href="#">Materials for your weekly meeting </a>
    </p>


    <h3 class="govuk-heading-m">Sixth half-term - How to design a coherent curriculum</h3>

    {{ demoText(2) }}

    <p>
      <a class="govuk-link" href="#">View Joe's progress</a>
      <br>
      <a class="govuk-link" href="#">Materials for your weekly meeting </a>
    </p>

  </div>
</div>

{% endblock %}
