{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <br>

<h1 class="govuk-heading-xl">Mentor acccount</h1>

</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px; ">
      <h3 class="govuk-heading-m"><a href="/teacher-term">Check my teacher's progress</a></h3>
    <p></p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m"><a href="#">Read topic study materials</a></h3>
    <p></p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m"><a href="#">Add lesson observation notes</a></h3>
    <p></p>
    </div>
  </div>
</div>

<div class="govuk-!-padding-bottom-4"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m"><a href="/teacher-accordian">Give feedback to your teacher</a></h3>
    <p></p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m"><a href="#">Add weekly goals and outcomes for your teacher</a></h3>
    <p></p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m"><a href="#">How to get the best out of your teacher during their induction</a></h3>
    <p></p>
    </div>
  </div>



<br>


{% endblock %}
