{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <br>

<h1 class="govuk-heading-xl">Welcome so and so</h1>

</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m"><a href="/teacher">My teachers</a></h3>
    <p>govuk-grid-column-one-thirds-from-desktop</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m"><a href="#">How to get the best out of your teachers</a></h3>
    <p>govuk-grid-column-one-thirds-from-desktop</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m"><a href="#">Self study materials</a></h3>
    <p>govuk-grid-column-one-thirds-from-desktop</p>
    </div>
  </div>
</div>

<div class="govuk-!-padding-bottom-4"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m"><a href="/teacher">My teacher</a></h3>
    <p>govuk-grid-column-one-thirds-from-desktop</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m"><a href="#">How to get the best out of your teachers</a></h3>
    <p>govuk-grid-column-one-thirds</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h3 class="govuk-heading-m"><a href="#">Self study materials</a></h3>
    <p>govuk-grid-column-one-thirds-from-desktop</p>
    </div>
  </div>





<br>


{% endblock %}
