{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <br>

<h1 class="govuk-heading-xl">Mentor account</h1>

</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h4 class="govuk-heading-s govuk-body govuk-!-margin-bottom-9"><a href="/teacher-term"><strong>Check my teacher's progress</strong></a></h4>
    <p></p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h4 class="govuk-heading-s govuk-body govuk-!-margin-bottom-6"><a href="#"><strong>How to get the best out of your teacher during their induction</strong></a></h4>
    <p></p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div style="background-color:#F3F2F1; padding: 10px;">
      <h4 class="govuk-heading-s govuk-body govuk-!-margin-bottom-6"><a href="#"><strong>Information about the Early Career Framework</strong></a></h4>
    <p></p>
    </div>
  </div>
</div>





<br>


{% endblock %}
