{% extends "layout-signin.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h1 class="govuk-heading-xl">
      Support for early career teachers
    </h1>

    <h2 class="govuk-heading-l">
      Mentor prototype
    </h2>


<div style="background-color:#F3F2F1; padding: 14px;">

    <h3 class="govuk-heading-m">
      <a href="/home">Iteration 1</a>
    </h3>

    <p><strong>We tested:</strong></p>

    <ul class="govuk-list govuk-list--bullet ">
          <li>
            tracking for mentors tasks alongside keeping track of the ECTs self study progress
          </li>
          <li>
            the self study and mentor materials
          </li>
          <li>
            ideas that might help them with their role (observation worksheet, ECTs reflections and comments)
          </li>
        </ul>

<p><strong>Some design variations (pages not tested)</strong></p>

    <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/options">Variation - list</a>
          </li>
          <li>
            <a href="/teacher-accordian">Variation - accordian</a>
          </li>
        </ul>
        </div>

  <hr class="govuk-section-break govuk-section-break--m">

<div style="background-color:#F3F2F1; padding: 14px;">
    <h3 class="govuk-heading-m">
      <a href="/iteration-2/home">Iteration 2</a>
    </h3>

    <p><strong>We tested:</strong></p>

    <ul class="govuk-list govuk-list--bullet">
          <li>
            separating the ECF and mentor tracking and simplifying the mentor tracking to a week rather than individual tasks
          </li>
          <li>
             topic summary of the ECT self stufy material
          </li>
          <li>
          worksheets downloads
          </li>
        </ul>
        </div>

        <hr class="govuk-section-break govuk-section-break--m">


        <div style="background-color:#F3F2F1; padding: 14px;">
    <h3 class="govuk-heading-m">
      <a href="/it3/email">Iteration 3</a>
    </h3>

    <p><strong>We tested:</strong></p>

    <ul class="govuk-list govuk-list--bullet">
          <li>
            Sign in process, including the opportunity to create a username to add personalisation (and then edit it on the homepage)
          </li>
          <li>
             A speedbump to prompt users to read guidance about the programme
          </li>
          <li>
          The guidance
          </li>
          <li>
          Mentor materials, split into three types of content, topic overview, what the teacher is learning and discussion guide
          </li>
          <li>
          A 'Your teachers' page which included teacher details of when they started the programme
          </li>
          <li>
          The progress of the teacher that included self study progress, 'checking off' mentor meeting and a provocation around recording goals and when they adre achieved to see what type of progress would be useful for mentors
          </li>
        </ul>

    </div>

      <hr class="govuk-section-break govuk-section-break--m">

      <div style="background-color:#F3F2F1; padding: 14px;">

    <h3 class="govuk-heading-m">
      <a href="/it4/email">Iteration 4</a>
    </h3>

    <p>What we did</p>

    </div>

    <hr class="govuk-section-break govuk-section-break--m">

    <div style="background-color:#F3F2F1; padding: 14px;">

    <h3 class="govuk-heading-m">
      Iteration 5
    </h3>

    <p>This was originally the MVS flow that we tested in the first round of Private Beta. Links/branch needs to be sorted</p>
    <p>What we did</p>

    </div>

    <hr class="govuk-section-break govuk-section-break--m">

    <div style="background-color:#F3F2F1; padding: 14px;">

    <h3 class="govuk-heading-m">
      <a href="/dev/email">Current flow for dev reference</a>
    </h3>

    <p>The main difference here is that we are adding the speedbump after the landing page. This flow also includes error states.</p>

    <p><a href="/dev/start">Start page (not included in main flow)</a></p>

    <p><a href="/dev/cip-change/sign-in">School has changed CIP message</a></p>

</div>
<hr class="govuk-section-break govuk-section-break--m">
    <h2 class="govuk-heading-l">
      Induction Tutor pages
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/it-amb">Ambition</a>
      </li>
      <li>
        <a href="/it-edt">EDT</a>
      </li>
      <li>
        <a href="/it-tf">TF</a>
      </li>
      <li>
        <a href="/it-ucl">UCL</a>
      </li>
    </ul>




  </div>
</div>



{% endblock %}
