{% extends "layout-signin.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <br>

    <h3 class="govuk-heading-m">
      For testing
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/home">Iteration 1</a>
      </li>

      <li>
        <a href="/options">Variation - list</a>
      </li>
      <li>
        <a href="/teacher-accordian">Variation - accordian</a>
      </li>
      <li>
        <a href="/iteration-2/home">Iteration 2</a>
      </li>
      <li>
        <a href="/it3/email">Iteration 3</a>
      </li>
      <li>
        <a href="/it4/email">Iteration 4</a>
      </li>
    </ul>

    <h3 class="govuk-heading-m">
      For devs
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/dev/email">MVS flow</a>
      </li>
      <li>
        <a href="/dev/start">Start page (not included in main flow)</a>
      </li>
    </ul>


    <h3 class="govuk-heading-m">
      IT pages
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/it-amb">Ambition</a>
      </li>
      <li>
        <a href="/it-edt">EDT</a>
      </li>
      <li>
        <a href="/it-tf">TF</a>
      </li>
      <li>
        <a href="/it-ucl">UCL</a>
      </li>
    </ul>

    <h3 class="govuk-heading-m">
      playing with tables
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/tableoptions/one">Option 1</a>
      </li>
      <li>
        <a href="/tableoptions/two">Option 2</a>
      </li>
      <li>
        <a href="/tableoptions/three">Option 3</a>
      </li>

      <li>
        <a href="/tableoptions/four">Option 4</a>
      </li>

    </ul>

  </div>
</div>

{% endblock %}
