
{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/teacher-term">Mrs Teacher</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/teacher">First half term - How do pupil's learn?</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <br>

  <div class="govuk-grid-column-two-thirds-from-desktop">

<br>
<p><strong>Topic 3: Establishing effective routine</strong></p>

      <h1 class="govuk-heading-xl">
        Addressing low-level behaviour
      </h1>

      <p>
        This session will take approximately <strong>40 minutes</strong> to complete.
      </p>

      <!-- Session Overview -->

      <h2 class="govuk-heading-l">
        Session overview
      </h2>

<p>You can affect and improve the wellbeing, motivation and behaviour of your pupils. When behaviour incidents occur, no matter how small or large, it’s important that you respond consistently in the least intrusive ways which align with your school’s behaviour policy or approach.</p>

      <p>To support you to do this, in this session you will explore:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>What is low-level disruption?</li>
        <li>Using early and least intrusive interventions as an initial response</li>
      </ul>

        <!-- What is low level disruption -->

        <h2 class="govuk-heading-l">
          What is low level disruption?
        </h2>

          <p>When teaching a carefully planned and well-resourced lesson, you may expect pupils to remain focused and engaged throughout – and some pupils will. However, some pupils may require prompts to keep them focused on their learning.</p>

            <p>Sometimes, a pupil’s attention may drift unintentionally, and they may begin to exhibit low-level disruption. On other occasions, pupils may deliberately exhibit such behaviours to avoid engaging with work.</p>

            <p>Whatever the reason is for a disruption, it’s important to address it as early as possible to prevent it from escalating and impacting further on pupils’ learning.</p>

            <p>Low-level disruption can be anything that disrupts the flow of your lesson. Some examples include pen tapping, chatting, calling out, entering late, chewing gum, playing with resources and swinging on chairs.</p>

            <p>In isolation, low-level disruption can seem harmless. But when it occurs frequently, it can become increasingly difficult to manage and this inevitably impacts on pupils’ learning.</p>

            <p>In session 1, we looked at how to prevent low-level behaviour by creating and reinforcing routines, and in session 2 by positively reinforcing behaviour with acknowledgment and praise. Here we will look at how to address low-level disruption once it has occurred.</p>

            <p>In response to low-level disruption, one approach we can take is to use the Least Invasive Intervention (Lemov, 2015). Lemov argues that by minimising the ‘drama’ you can correct off-task pupils without interrupting the learning. In contrast, if you confront pupils too publicly, you may escalate a situation unnecessarily, and make a pupil feel embarrassed or shamed. This makes the situation worse for both you and the pupil – and is more likely to derail the learning of this pupil and others.</p>

            <p>Lemov identifies six subtle techniques that a teacher can use to quickly address low-level disruption, which you will explore throughout this session. These techniques are listed below in order, with the least intrusive method at the top:</p>

            <ol class="govuk-list govuk-list--number">
              <li>Non-verbal Intervention</li>
              <li>Positive Group Correction</li>
              <li>Anonymous Individual Correction</li>
              <li>Private Individual Correction</li>
              <li>Lightning-quick Public Correction</li>
              <li>Private Individual Praise</li>
            </ol>

            <p>In the classroom, you may choose to address low-level disruption by employing the least invasive technique first (non-verbal intervention) and work your way down the techniques if the previous one doesn’t work. However, there may be some occasions where you choose the method you feel is most appropriate to the context and the behaviour being exhibited at the time.</p>


        <!-- Non verbal -->

        <h2 class="govuk-heading-l">
          Non-verbal Intervention
        </h2>

          <p>‘Non-verbal Intervention’ is when you use gestures or your proximity to a pupil to mitigate low-level disruption in a non-invasive way.</p>

          <p>The advantage of this technique is that the teaching does not stop while the disruption is being addressed, so the flow of the lesson is not interrupted in any way. It is also a respectful way to refocus pupils because it gives them an opportunity to self-regulate their behaviour without being shamed or embarrassed in front of their peers.</p>

          <div class="govuk-inset-text">
            <p><strong>Example 1 - Using proximity</strong></p>

            <p>If you notice a pupil no longer following the text during whole class reading, you might walk closer to where they are sitting whilst continuing to read, to prompt them to follow the text. Here, you’re using your own proximity to the pupil to redirect their attention, without needing to say any words. Other pupils are unlikely to even be aware that you are intervening.</p>
         </div>

         <div class="govuk-inset-text">
           <p><strong>Example 2 - Using gestures</strong></p>
           <p>If a pupil is fiddling with their pen or whiteboard during a phonics lesson, you might use a downward hand gesture to signal to the child to put their pen down whilst the rest of the pupils continue to read sounds that you point to on the board.</p>
        </div>

        <p>These are great ways to refocus off-task pupils without stopping teaching. However, such interventions can become invasive if not performed correctly.</p>

        <div class="govuk-inset-text">
          <p><strong>Non Example</strong></p>
          <p>A pupil is fiddling with their pen or whiteboard during a phonics lesson, so you use a downward hand gesture to signal to the child to put their pen down and wait, looking at them intently with a frown on your face until they do.</p>
       </div>

       <p>In the non-example above, the teacher stops teaching. Therefore, the rest of the class has stopped learning and are now watching the non-verbal communication between the teacher and the off-task pupil. This may embarrass the pupil and causes lost learning time. Always aim to use non-verbal interventions discreetly whilst continuing to teach your lesson.</p>

        <!-- ‘Non-verbal Intervention’ in action-->
        <h3 class="govuk-heading-m">
          ‘Non-verbal Intervention’ in action
        </h3>

        <p>Watch a video of a teacher using non-verbal interventions.</p>

        <p>Consider the impact this has on the individual pupils and on the class’s learning.</p>

        <iframe width="630" height="381"
          src="https://www.youtube.com/embed/nH1J1NKeYmo"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
        </iframe>

        <hr class="govuk-section-break govuk-section-break--m">

        <iframe width="630" height="381"
          src="https://www.youtube.com/embed/5Go9F0pYbaA"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
        </iframe>

        <hr class="govuk-section-break govuk-section-break--m">

        <p><strong>What happens if the pupil does not correct their behaviour?</strong></p>
        <p>If the pupil still hasn’t refocused after you have used a non-verbal intervention, then you may need to employ the next technique: positive group correction.
        </p>

        <!-- Possible group correction -->

        <h2 class="govuk-heading-l">
          Positive Group Correction
        </h2>

        <p>‘Positive Group Correction’ is a quick verbal reminder addressed to the whole class.</p>

        <p><strong>Why address the whole group rather than individuals?</strong></p>

        <p>There are two reasons for this:</p>

        <ol class="govuk-list govuk-list--number">
          <li>Saying the names of pupils who are not complying with your instructions may cause embarrassment or escalate the behaviour to a confrontation that further disrupts the lesson.</li>
          <li>In addressing the whole class, you may prompt others to check their behaviour who may also be off task – but you hadn’t noticed.</li>
        </ol>

        <p>This intervention is best framed in a positive way – by describing the solution rather than the problem. For example, ‘Everybody should have their pens down and eyes to me’. The correction needs to be short and direct so as not to disrupt the flow of the lesson.</p>

        <p>If you want to increase accountability of individual pupils, you could non-verbally indicate to a specific pupil whilst still speaking to the whole class.</p>

        <h3 class="govuk-heading-m">
          ‘Positive group correction’ in action
        </h3>

        <p>Watch a video of a teacher using positive group correction.</p>

        <p>Consider the impact this has on the pupils and the classroom environment.</p>

        <iframe width="630" height="381"
          src="https://www.youtube.com/embed/UOx5sU3ACcY"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
        </iframe>

        <hr class="govuk-section-break govuk-section-break--m">

        <p><strong>What happens if the pupil does not correct their behaviour?</strong></p>
        <p>If the pupil still hasn’t refocused after using positive group correction, then you may need to employ the next technique: Anonymous Individual Correction.
        </p>


        <div style="background-color:#F3F2F1; border-radius: 5px;">
          <div style="margin: 20px 20px 20px 20px; padding: 20px 20px;">
  <p><strong>Reflection</strong></p>

  <p>In your next mentor session, your mentor will observe you using positive and least invasive behaviour management strategies. To help you prepare, reflect on your current teaching practice.</p>

  <p>Think of a time when you have intervened with an off-task pupil to correct their behaviour.</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Did you use the least invasive intervention possible?</li>
    <li>How did this impact the pupil?</li>
    <li>How did it impact the class and their learning?</li>
    <li>What could you do differently next time?</li>
  </ul>

</div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

  <h2 class="govuk-heading-l">
    Related ECF strands
  </h2>

  <h3 class="govuk-heading-m">
    High Expectations
  </h3>
  <p>1.5 A culture of mutual trust and respect supports effective relationships.</p>


  <h3 class="govuk-heading-m">Managing Behaviour</h3>

  <p>7.5 Building effective relationships is easier when pupils believe that their feelings will be considered and understood.</p>

  <p>7a. Establishing a supportive and inclusive environment with a predictable system of reward and sanction in the classroom.</p>

  <p>7e. Using consistent language and non-verbal signals for common classroom directions.</p>

  <p>7f. Using early and least-intrusive interventions as an initial response to low level disruption.</p>










        <!-- Anonymous Individual Correction -->


      </div>
      </div>





{% endblock %}
