
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/teacher-term">Mrs Teacher</a>
    </li>
  </ol>
</div>
<hr class="govuk-section-break govuk-section-break--s govuk-section-break">

<div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l">First half term - How do pupils learn?</h2>
      </div>

      <div class="govuk-grid-column-one-third">
  <strong class="govuk-tag govuk-tag--yellow">In progress</strong>

      </div>
    </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

    <h3 class="govuk-heading-m">Topic 1: Establishing effective routine</h3>

{% include "includes/term-one.html" %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">
<h3 class="govuk-heading-m">Topic 2: Establishing effective routine</h3>

{% include "includes/term-two.html" %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">
<h3 class="govuk-heading-m">Topic 3: Establishing effective routine</h3>

{% include "includes/term-three.html" %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">
<h3 class="govuk-heading-m">Topic 4: Establishing effective routine</h3>

{% include "includes/term-four.html" %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">
<h3 class="govuk-heading-m">Topic 5: Establishing effective routine</h3>

{% include "includes/term-five.html" %}



  </div>



  </div>

{% endblock %}
