
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <br>

  <p class="govuk-body govuk-!-font-size-48"><strong>Andrea Argos</strong></p>

  <p>
    andrea.argos@schooladdress@sch.uk
  <br>
  First year ECT
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-body govuk-!-font-size-36"><strong>Autumn term</strong></p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              First half term - How do pupils learn?
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p><strong>Week 1</strong></p>

          {% include "includes/week-complete.html" %}

        </div>

        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p><strong>Week 2</strong></p>

            {% include "includes/week-progress-ob.html" %}

        </div>

        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p><strong>Week 3</strong></p>

            {% include "includes/week-progress-ob-two.html" %}
        </div>


        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p><strong>Week 4</strong></p>

            {% include "includes/week-not-started.html" %}

        </div>


                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p><strong>Week 5</strong></p>

              {% include "includes/week-not-started-ob.html" %}

        </div>


              <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p><strong>Week 6</strong></p>

                    {% include "includes/week-not-started.html" %}

        </div>



      </div>
      <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Second half term - How do pupils learn?
        </span>
      </h2>
    </div>

    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p><strong>Week 1</strong></p>

          {% include "includes/week-not-started-ob.html" %}

          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    </div>

    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p><strong>Week 2</strong></p>

          {% include "includes/week-not-started-ob.html" %}

          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    </div>

    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p><strong>Week 3</strong></p>

          {% include "includes/week-not-started-ob.html" %}

          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    </div>

    </div>



    </div>



  </div>

{% endblock %}
