
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block navigation %}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Passports, travel and living abroad</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Travel abroad</a>
    </li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <br>

  <p class="govuk-body govuk-!-font-size-36"><strong>First half term - How do pupils learn?</strong></p>


    <p class="govuk-body govuk-!-font-size-24"><strong>Topic 1: Establishing effective routine</strong></p>


{% include "includes/option-three.html" %}

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-6"><strong>Topic 1: Establishing effective routine</strong></p>

{% include "includes/option-two.html" %}


<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-6"><strong>Topic 1: Establishing effective routine</strong></p>

{% include "includes/option-four.html" %}



  </div>



  </div>

{% endblock %}
